/* action */

.hero .action {
  margin-top: $baseline*2;
  margin-bottom: $baseline*2;
}

.action {
  text-align: center;
  margin-top: $baseline*2;
  margin-bottom: $baseline*2;
  .button.cta {
    min-width: $baseline*10;
    & + .button.cta{
      margin-left: $baseline;
    }
  }
}