/* action */

.hero .action {
  margin-top: $baseline*2;
  margin-bottom: $baseline*2;
}

.card .action {
  margin-top: $baseline*0.5;
  margin-bottom: $baseline*0.5;
}

.action {
  margin-top: $baseline*3;
  margin-bottom: $baseline*3;
  .button.cta + .button.cta{
    margin-left: $baseline;
  }
  &.primary {
    text-align: right;
    .button,
    input {
      width: auto;
    }
  }
}