/* single */

.collection {
  display: flex;
  flex-wrap: wrap;
  margin-top: $baseline*2;
  ul {
    width: 100%;
    .single {
      margin-bottom: $baseline*0.5;
    }
  }
  .single {
    margin-bottom: $baseline;
    &:before {
      content: "•";
      color: $brand;
      margin-right: $gutter*0.5;
    }
  }
}