#public-index {
  .journey {
    .step {
      float: left;
      width: 100%;
      line-height: $baseline;
      padding: $baseline 0 $baseline*0.5 0;
      &:last-child {
         border-bottom: none;
         padding-bottom: $baseline*0.5 - $border-width*2;
      }
    }
  }
}
