#public-index, #promotion-index {
  .header {
    background: none;
    position: absolute;
  }
  h2, h3, p {
    text-align: center;
  }
  h2 {
    $h2: 50px;
    font-size: $h2;
    font-weight: 900;
    line-height: calc(#{$h2} * 1.2);
    margin-top: 0;
    margin-bottom: calc(#{$baseline*4} - #{$h2} * 1.2);
  }
  h3 {
    $h3: 38px;
    font-size: $h3;
    font-weight: 900;
    line-height: calc(#{$h3} * 1.1);
    margin-top: 0;
    margin-bottom: calc(#{$baseline*3} - #{$h3} * 1.1);
  }
  h4 {
    $h4: 28px;
    font-size: $h4;
    font-weight: 900;
    line-height: calc(#{$h4} * 1.1);
    margin-top: 0;
    margin-bottom: calc(#{$baseline*2} - #{$h4} * 1.1);
  }
  p {
  }
  .logo {
    background: image-url('logo.svg');
    background-size: 100% 100%;
    display: block;
    width: $logo-width;
    height: $logo-height;
    z-index: 1000;
    h1 {
      font-weight: 900;
      text-transform: uppercase;
      text-indent: -9999px;
      font-style: italic;
      position: fixed;
      color: $brand;
      margin: 0;
      width: inherit;
      height: $logo-height;
    }
    span {
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      font-style: italic;
      float: left;
      margin-top: 21px;
      margin-left: $logo-width + $baseline*0.125;
    }
  }
  .main {
    .event {
      background-image: image-url('enquiry.jpg');
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      + .section {
        position: relative;
        z-index: 750;
      }
    }
    .hero {
      float: none;
      display: inline-block;
      position: relative;
      h2, p {
        color: $white;
      }
      .action {
        position: relative;
        a {
          background: $white;
          border-color: $white;
          color: $brand;
          min-width: $baseline*10;
        }
        a:hover {
          background: $brand;
          border-color: $brand;
          color: $white;
          &.disabled {
            background: $white;
            border-color: $white;
            color: $brand;
            cursor: not-allowed;
            opacity: 0.9;
          }
        }
      }
    }
  }
  footer.psuedo-footer {
    display: block;
  }
}