<section id="sup_route_journeys">
  <div class="card">
    <div class="inner">
      <table>
        <% @journeys.each do |journey| %>
          <tr>
            <td><%= link_to journey.start_time.strftime("%F"), admin_journey_path(journey) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>

<%= link_to "Add a journey", new_admin_journey_path %>
