<section id="sup_route_journeys">
  <div class="card-cont">
    <% if @journeys.exists? %>
      <% @journeys.each do |journey| %>
        <div class="card">
          <div class="inner">
            <%= link_to journey.start_time.strftime("%F"), admin_journey_path(journey) %>
          </div>
        </div>
      <% end %>
    <% else %>
      Nothing to see here
    <% end %>
    
  </div>
</section>

<%= link_to "Add a journey", new_admin_journey_path %>
