%section.hero
  .overlay
  .event
  %section.section.heading
    %h2
      = t('privacy.title')

%main.main.privacy
  %section.section
    :markdown
      Essex and Suffolk County Councils are committed to protecting your privacy when you use our services.
      
      The Privacy Notice below explains how we use information about you and how we protect your privacy.
      
      Essex County Council - the Data Protection Officer, Paul Turner, at dpo@essex.gov.uk or by calling
      03457 430 430 and asking to speak to the Data Protection Officer. Suffolk County Council –
      The Data Protection Manager at data.protection@suffolk.gov.uk or by calling 01473 264814. If you
      are not a resident of either county then please use either contact above.

  %section.section
    :markdown
    
      ### Your journey with Ride
    
      We share the information you provide with the relevant transport operators in order to provide your
      journeys you book with us.  The information we share is:
      
      * Your name
      * Your pick up location (town, stop and where applicable, address of an alternative stop)
      * Time and date of the journey requested
      * Your phone number
      * Your email address
      * Your destination (town, stop)
      * Number of passengers
      * Cost of the journey and payment method (but not the details of that method if you pay by card)
      
      If you pay by card, your information is processed by [Stripe](https://www.stripe.com) and their
      privacy policy applies. We message you using an automated script to remind you of your journeys,
      using a service by Twilio.  No data is saved by the automated text messaging system. We also
      store this information for up to two years to enable any journeys to be reconciled as required
      by licensing authorities. This information is encrypted.
      
      You can email us to ask us to erase your information in accordance with GDPR.  You can do this
      by emailing hello@bookyourride.co.uk.

  %section.section
    :markdown
    
      ### Why we use your personal information
    
      #### Do you know what personal information is?
      
      Personal information can be anything that identifies and relates to a living person. This can
      include information that when put together with other information can then identify a person. For
      example, this could be your name and contact details.
      
      #### Did you know that some of your personal information might be 'special'?
      
      Some information is 'special' and needs more protection due to its sensitivity. It’s often information
      you would not want widely known and is very personal to you. This is likely to include anything that
      can reveal your:
      
      * sexuality and sexual health
      * religious or philosophical beliefs
      * ethnicity
      * physical or mental health
      
      #### Why do we need your personal information?
      
      We may need to use some information about you to:
      
      * deliver services and support to you;
      * manage those services we provide to you;
      * help investigate any worries or complaints you have about your services;
      * keep track of spending on services;
      * check the quality of services; and
      * to help with research and planning of new services.
      
      #### How the law allows us to use your personal information
      
      There are a number of legal reasons why we need to collect and use your personal information.

      To deliver the Ride service, we collect and use personal information where:
      
      * you, or your legal representative, have given consent
      * you have entered into a contract with us
      * it is necessary to perform our statutory duties
      * it is necessary to protect someone in an emergency
      * it is required by law
      * it is necessary to deliver health or social care services
      * you have made your information publicly available
      * it is necessary for legal cases
      * it is necessary for archiving, research, or statistical purposes
      
      If we have consent to use your personal information, you have the right to remove it at any time.
      If you want to remove your consent, please contact Essex at dpo@essex.gov.uk or Suffolk at data.protection@suffolk.gov.uk
      and tell us that it relates to the Ride webside so we can deal with your request.
      
      #### We only use what we need
      
      Where we can, we’ll only collect and use personal information if we need it to deliver a service
      or meet a requirement.

      If we don’t need personal information we’ll either keep you anonymous if we already have it for
      something else or we won’t ask you for it. For example in a survey we may not need your contact
      details we’ll only collect your survey responses.

      If we use your personal information for research and analysis, we’ll always keep you anonymous
      or use a different name unless you’ve agreed that your personal information can be used for that research.
        
      We don’t sell your personal information to anyone else.
      
      #### What you can do with your information
      
      The law gives you a number of rights to control what personal information is used by us and how it
      is used by us.
      
      Ride is provided by the Passenger Transport Team at Essex and Suffolk County Councils and you also
      have the right to ask for all the information we have about you
      ([Essex](https://www.essex.gov.uk/Your-Council/Your-Right-Know/Pages/Your-Right-Know.aspx),
      [Suffolk](https://www.suffolk.gov.uk/about/privacy-and-data-protection/)) and the services you receive
      from us. When we receive a request from you in writing, we must give you access to everything we’ve
      recorded about you.
      
      However, we can’t let you see any parts of your record which contain:
      
      * Confidential information about other people; or
      * Data a professional thinks will cause serious harm to your or someone else’s physical or mental wellbeing; or
      * If we think that giving you the information may stop us from preventing or detecting a crime
      
      This applies to personal information that is in both paper and electronic records. If you ask us, we’ll
      also let others see your record (except if one of the points above applies).
      
      If you can’t ask for your records in writing, we’ll make sure there are other ways that you can. If you
      have any queries about access to your information please contact transparencyteam@essex.gov.uk or 0333 013 953
      if you are an Essex resident, or information.management@suffolk.gov.uk or 01473 264814 if you are a Suffolk resident.
      
      #### You can ask to change information you think is inaccurate
      
      You should let us know if you disagree with something written on your file.

      We may not always be able to change or remove that information but we’ll correct factual inaccuracies and may include
      your comments in the record to show that you disagree with it.

      For Essex residents: [Please complete the online form to inform us of any inaccuracies](https://forms.essex.gov.uk/default.aspx/RenderForm/?F.Name=r4Qcams7sBg&HideAll=1).
          
      For Suffolk residents: [Application for Access – Your records](https://www.suffolk.gov.uk/assets/About/privacy-and-data-protection/2017-04-App-for-Access-to-Records.pdf).

      #### You can ask to delete information (right to be forgotten)
      
      In some circumstances you can ask for your personal information to be deleted, for example:
      
      * Where your personal information is no longer needed for the reason why it was collected in the first place
      * Where you have removed your consent for us to use your information  (where there is no other legal reason
      us to use it)
      * Where there is no legal reason for the use of your information
      * Where deleting the information is a legal required
      
      Where your personal information has been shared with others, we’ll do what we can to make sure those using your
      personal information comply with your request for erasure.
      
      Please note that we can’t delete your information where:
      
      * we’re required to have it by law
      * it is used for freedom of expression
      * it is in the for public health purposes
      * it is for, scientific or historical research, or statistical purposes where it would make information unusable
      * it is necessary for legal claims
      
      #### You can ask to limit what we use your personal data for
      
      You have the right to ask us to restrict what we use your personal information for where:
      
      * you have identified inaccurate information, and have told us of it
      * where we have no legal reason to use that information but you want us to restrict what we use it for rather
      than erase the information altogether
      
      When information is restricted it can’t be used other than to securely store the data and with your consent to
      handle legal claims and protect others, or where it’s for important public interests of the UK.

      Where restriction of use has been granted, we’ll inform you before we carry on using your personal information.

      You have the right to ask us to stop using your personal information for any council service. However, if this
      request is approved this may cause delays or prevent us delivering that service.

      Where possible we’ll seek to comply with your request, but we may need to hold or use information because we are
      required to by law.
      
      #### You can ask to have your information moved to another provider (data portability)

      You have the right to ask for your personal information to be given back to you or another service provider of
      your choice in a commonly used format. This is called data portability.

      However this only applies if we’re using your personal information with consent (not if we’re required to by law)
      and if decisions were made by a computer and not a human being.

      It’s likely that data portability won’t apply to most of the services you receive from the Council.

      You can ask to have any computer made decisions explained to you, and details of how we may have ‘risk profiled’
      you.

      You have the right to question decisions made about you by a computer, unless it’s required for any contract you
      have entered into, required by law, or you’ve consented to it.

      You also have the right to object if you are being ‘profiled’. Profiling is where decisions are made about you based
      on certain things in your personal information, e.g. your health conditions.

      If and when ECC uses your personal information to profile you, in order to deliver the most appropriate service to you,
      you will be informed.

      If you have concerns regarding automated decision making, or profiling, please contact the Data Protection Officer
      who’ll be able to advise you about how we using your information.
      
      #### Who do we share your information with?
      
      We use a range of organisations to either store personal information or help deliver our services to you. Where
      we have these arrangements there is always an agreement in in place to make sure that the organisation complies
      with data protection law.

      We’ll often complete a privacy impact assessment (PIA) before we share personal information to make sure we protect
      your privacy and comply with the law.

      Sometimes we have a legal duty to provide personal information to other organisations. This is often because we need
      to give that data to courts, including:
      
      * if we take a child into care;
      * if the court orders that we provide the information; and
      * if someone is taken into care under mental health law
      
      We may also share your personal information when we feel there’s a good reason that’s more important than protecting
      your privacy. This doesn’t happen often, but we may share your information:
      
      * in order to find and stop crime and fraud; or
      * if there are serious risks to the public, our staff or to other professionals;
      * to protect a child; or
      * to protect adults who are thought to be at risk, for example if they are frail, confused or cannot understand what
      is happening to them
      
      For all of these reasons the risk must be serious before we can override your right to privacy.

      If we’re worried about your physical safety or feel we need to take action to protect you from being harmed in other
      ways, we’ll discuss this with you and, if possible, get your permission to tell others about your situation before
      doing so.

      We may still share your information if we believe the risk to others is serious enough to do so.
       
      There may also be rare occasions when the risk to others is so great that we need to share information straight away.

      If this is the case, we’ll make sure that we record what information we share and our reasons for doing so. We’ll
      let you know what we’ve done and why if we think it is safe to do so.
      
      #### How do we protect your information?
      
      We’ll do what we can to make sure we hold records about you (on paper and electronically) in a secure way, and we’ll
      only make them available to those who have a right to see them. Examples of our security include:
      
      * Encryption, meaning that information is hidden so that it cannot be read without special knowledge (such as a
      password). This is done with a secret code or what’s called a ‘cypher’. The hidden information is said to then be
      ‘encrypted’
      * Pseudonymisation, meaning that we’ll use a different name so we can hide parts of your personal information from
      view. This means that someone outside of the Council could work on your information for us without ever knowing it
      was yours
      * Controlling access to systems and networks allows us to stop people who are not allowed to view your personal
      information from getting access to it
      * Training for our staff allows us to make them aware of how to handle information and how and when to report when
      something goes wrong
      * Regular testing of our technology and ways of working including keeping up to date on the latest security updates
      (commonly called patches)

      You can find more details of our Information Security expectations on our online policy.
      
      #### Where in the world is your information?
      
      The majority of personal information is stored on systems in the UK. But there are some occasions where your information
      may leave the UK either in order to get to another organisation or if it’s stored in a system outside of the EU.

      We have additional protections on your information if it leaves the UK ranging from secure ways of transferring data
      to ensuring we have a robust contract in place with that third party.

      We’ll take all practical steps to make your personal information is not sent to a country that is not seen as ‘safe’
      either by the UK or EU Governments.

      If we need to send your information to an ‘unsafe’ location we’ll always seek advice from the Information Commissioner
      first.

      #### How long do we keep your personal information?
      
      There’s often a legal reason for keeping your personal information for a set period of time, we try to include all of
      these in our [retention schedule](https://www.essex.gov.uk/Your-Council/Your-Right-Know/Documents/Retention_Schedule.pdf).
      
      For each service the schedule lists how long your information may be kept for. This ranges from months for some
      records to decades for more sensitive records.
      
      #### Where can I get advice?
      
      Ride is being delivered by the Passenger Transport Teams at Essex and Suffolk County Councils.  If you have any worries
      or questions about how your personal information is handled please contact dpo@essex.gov.uk or by calling 03457 430430.
      
      In Suffolk, contact data.protection@suffolk.gov.uk, or call 01473 264814.
      
      For independent advice about data protection, privacy and data sharing issues, you can contact the Information
      Commissioner’s Office (ICO) at:
      
      Information Commissioner's Office
      Wycliffe House
      Water Lane
      Wilmslow
      Cheshire
      SK9 5AF
      
      Tel: 0303 123 1113 (local rate) or 01625 545 745 if you prefer to use a national rate number.
      
      Alternatively, visit www.ico.org.uk or email casework@ico.org.uk

  %section.section
    :markdown
      
      #### Cookies (not the edible ones) and how you use this website
      
      To make this website easier to use, we sometimes place small text files on your device (for example your iPad
      or laptop) called cookies. Most websites do this too.
      
      They improve things by:
      
      * remembering the things you’ve chosen while on our website, so you don’t have to keep
      * re-entering them whenever you visit a new page
      * remembering data you’ve given (for example, your address) so you don’t need to keep entering it
      * measuring how you use the website so we can make sure it meets your needs
      
      By using our website, you agree that we can place these types of cookies on your device.
      
      We don’t use cookies on this website that collect information about what other websites you visit
      (often referred to as privacy intrusive cookies).
      
      Our cookies aren’t used to identify you personally. They’re just here to make the site work better for you.
      You can manage and/or delete these files as you wish.
      
      To learn more about cookies and how to manage them, visit AboutCookies.org or watch a video about cookies.
      
      #### How you use this website (something called Google Analytics)

      We use Google Analytics to collect information about how people use this site. We do this to make sure it’s
      meeting peoples’ needs and to understand how we can make the website work better.
       
      Google Analytics stores information about what pages on this site you visit, how long you are on the site,
      how you got here and what you click on while you are here.
      
      | Name   | Typical Content                                                                                                           | Expires                     |
      |--------|---------------------------------------------------------------------------------------------------------------------------|-----------------------------|
      | _utma  | randomly generated number                                                                                                 | 2 years                     |
      | _utmb  | randomly generated number                                                                                                 | 30 minutes                  |
      | _utmc  | randomly generated number                                                                                                 | when you close your browser |
      | _utmx  | randomly generated number                                                                                                 | 2 years                     |
      | _utmxx | randomly generated number                                                                                                 | 2 years                     |
      | _utmz  | randomly generated number and data on how the site was reached (e.g. direct or via a link, organic search or paid search) |                             |
      
      Our cookies do not collect or store any other personal information (e.g. your name or address) so this data
      cannot be used to identify who you are.
      
      We also collect data on the number of times a word is searched for and the number of failed searches. We use
      this information to improve access to the site and identify gaps in the content and see if it is something we
      should add to the site.
      
      In any other circumstances aside from those detailed above, unless the law allows us to, we do not:
      
      * share any of the data we collect about you with others, or
      * use this data to identify individuals behaviours or activities.
      
      #### Other people’s cookies
      
      We might use videos from YouTube and feeds from other websites such as Facebook and Twitter. These websites
      place cookies on your device when watching or viewing these pages.

      Below are links to their cookie policies:
      
      * [Google and YouTube](https://www.google.com/policies/technologies/cookies/)
      * [Facebook](https://en-gb.facebook.com/about/privacy/cookies)
      * [Twitter](https://twitter.com/en/privacy)
      
      #### Turning off cookies
      
      You can stop cookies being downloaded on to your computer or other device by selecting the appropriate settings
      on your browser. If you do this you may not be able to use the full functionality of this website.
      
      There is more information about how to delete or stop using cookies on [aboutCookies.org](https://www.aboutcookies.org/).
      You can also opt out of being tracked by Google Analytics.
      
      Further guidance on the use of personal information can be found at http://www.ico.org.uk
      
= render 'partials/psuedo_footer'
