<h2>Add a stop</h2>
<%= form_for [:admin, @route, @stop] do |form| %>
  <%= render partial: 'fields', locals: {form: form} %>
  <div class="action">
    <%= form.submit "Create & add another stop", :class => "button text name_validation" %>
  </div>
  <div class="action">
    <%= form.submit "Create & finish", :class => "button name_validation" %>
  </div>
<% end %>