.closed_logo

%section.hero.enquiry
  .overlay
  .event

.closed_info
  %p.bold The RIDE online booking service pilot has now closed.

  %p.italic Thank you for trying this booking service.

  %br

  %p.bold For getting around in Essex:

  %p
    You can find information for
    =link_to "accessing transport here.", "https://www.essexhighways.org/Transport-and-Roads/Getting-Around/Bus.aspx", target: '_blank', title: 'Transport in Essex'

  %br

  %p.bold For getting around in Suffolk:
  %p
    The West Suffolk Hospital and all Connecting Communities travel services will continue. These can instead be booked through our online request form available from the
    =link_to "Connecting Communities website.", "https://communities.suffolkonboard.com/", target: '_blank', title: 'Book a journey in Suffolk'

  %p You can request up to 7 advance return journeys, charged at an equivalent bus fare rate and you are not limited to specific stops but can request journeys to and from any location within Suffolk.
