body, p {
  color: $black;
  font-family: $stack-2;
  font-size: $body;
  font-weight: 400;
  line-height: $baseline;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-top: 0;
  margin-bottom: calc(#{$baseline} * 0.5);
}

a {
  color: $brand;
  transition: color $base-duration $base-timing;
  font-weight: 700;
  &:active,
  &:focus,
  &:hover {
    color: $black
  }
}

h2 {
  $h2: 30px; // no to variables here, but in this case I think yes.
  font-size: $h2;
  font-weight: 900;
  line-height: calc(#{$h2} * 1.2);
  margin-top: calc(#{$baseline*3.25} - #{$h2} * 1.2);;
  margin-bottom: calc(#{$baseline*2.75} - #{$h2} * 1.2);
}

h3 {
  $h3: 22px;
  font-size: $h3;
  font-weight: 700;
  line-height: calc(#{$h3} * 1.3);
  margin-top: 0;
  margin-bottom: calc(#{$baseline*1.5} - #{$h3} * 1.1);
  &.total {
    color: $brand;
  }
}

h4 {
  $h4: $body;
  font-size: $h4;
  font-weight: 900;
  line-height: $baseline;
  margin-top: 0;
  margin-bottom: 0;
}

h2 + h2 {
  margin-top: 0;
}

label {
  font-weight: 600;
}

strong,
.strong {
  font-weight: 700;
}

.required {
  color: $brand;
}

.error {
  color: $error;
}

.small {
  font-size: $small;
  font-weight: 400;
}

input + .small {
  margin-top: -6px;
}

// will check below this later

p.highlight {
  font-size: $base-font-size+2;
}

.subTxt {
  font-size: 12px;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

#mobile-title {
  font-size: 15px;
  font-weight: 400;
}

#desktop-title {
  font-size: 20px;
  font-weight: 400;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.grey {
  color: $medium-gray;
}

.alt-link {
  text-transform: uppercase;
  font-family: $stack-1;
  font-size: 15px;
}