/* older bits that need removing */

$brand-1: #1565c0; // blue
$brand-2: #c01b15; // red
$brand-3: #FF8637; // orange

/* Identity variables */

// Typography
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic,600italic,800';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
// testing a new font
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,900italic';

$stack: 'Open Sans', sans-serif;
$stack-1: 'Open Sans', sans-serif;
$stack-2: 'Lato', sans-serif;

// Font Sizes
$base-font-size: 18px;
$body: 18px;

// Line height
$baseline: 26px;
$heading-line-height: 1.3;

// Logo dimensions
$logo-width: 90px;
$logo-height: $baseline*1.25;

// Colors
$brand: #ff3f6b;
$brand-2: #0cc7d0;

$black: #000;
$white: #fff;
$gray: #afafaf;

$gradient-1: #7b8388;
$gradient-2: #cedee8;

$border-style: solid;
$border-width: 2px;

// Colors
$prim-color: #1565c0;
$orange: #FF8637;
$darker-orange: #EA7529;
$red: #c01b15;
$darker-red: #a91812;
$blue: #1565c0;
$green: #45B554;
$darker-blue: #0246A6;
$teal: #15bbc0;
$darker-teal: #12a5a9;
$coral: #ff5253;
$pink: #ED5A82;

$dark-gray: #231f30;
$medium-gray: #999;
$light-gray: #E9E9E9;
$lightest-gray: #f1f1f1;

// Background Colors
$base-background-color: $lightest-gray;

// Font Colors
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;