/* fontawesome */

.fa-angle-down {
  color: $white;
  font-size: $baseline*2;
}

/* logo */

.logo {
  background: url('logo.svg');
  background-size: 100% 100%;
  display: block;
  text-indent: -9999px;
  width: $logo-width;
  height: $logo-height;
}