.card
  %span.sup_route_name
    %i.fa.fa-bus
    = route.name
  .route_preview{"data-geometry" => "#{route.flipped_geometery}"}
  %span.sup_route_journeys
    %span.numOfJourn= route.journeys.count
    Current Journeys
  .action.secondary
    = link_to admin_route_path(route) do
      Edit route
