%section.section
  .card
    %h2 Manage core routes
    
    %p= button_to 'Create new route', @new_route_path, method: :post, class: 'button'
    
    - if @filterrific
      = form_for_filterrific @filterrific do |f|
        =f.label :by_name, 'Filter by name'
        =f.text_field :by_name, class: 'filterrific-periodically-observed'
    
  #filterrific_results
    = render partial: 'admin/routes/route', collection: @routes
    
  .card
    .action.primary
      = button_to 'Create new route', @new_route_path, method: :post, class: 'button'
