<div class="sup_route_journeys">
  <%= render partial: 'form', locals: { route: @route } %>

  <% @routes.each do |route| %>
     <%= render partial: 'route', locals: { route: route } %>
  <% end %>
  
  <%= render partial: 'form', locals: { route: @route } %>
</div>

<% content_for :js do %>
<script type="text/javascript">
  $(function() {
    $('.sup_route_journeys').each(function() {
      if (parseInt($(this).find('.numOfJourn').html()) == 0) {
        $(this).find('.addTxt').html('Add');
      } else {
        $(this).find('.addTxt').html('Edit/Add');
      }
    });
  });

  function initMap() {
    $('.route_preview').each(function(i, m) {
      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer;
      var map = new google.maps.Map(m, { scrollwheel:  false, disableDefaultUI: true });
      directionsDisplay.setMap(map);

      calculateRouteMultiStop(directionsService, directionsDisplay, $(this));
    });
  }
</script>
<% end %>
