.easy-autocomplete, .intput.from, .input.to {
  position: relative;
  width: 100% !important; //overwrite script
  input {
    &::placeholder {
      color: $gray;
    }
    &:disabled {
      &::placeholder {
        color: $white;
      }
    }
  }
}

.easy-autocomplete-container {
  position: absolute;
  width: 100%;
  z-index: 500;
  ul {
    margin-top: -$baseline*0.5 + $border-width;
    background: $brand;
    li {
      margin-bottom: 0;
      color: $white;
      font-weight: 700;
      .eac-item {
        padding: $baseline*0.5; // padding here otherwise two show hover state
      }
      &:hover {
        background: $black;
        cursor: pointer;
      }
    }
    &:not(:empty) {
    }
    .selected {
      background: $black;
    }
  }
}
