/* button */

// remove the .cta from .button when the buttons sass file is sorted out.

.button.cta {
  position: relative;
  font-family: $stack-2;
  text-align: center;
  font-size: $body;
  font-weight: 700;
  line-height: $baseline*2;
  background: $brand;
  border-color: $brand;
  color: $white;
  display: inline-block;
  padding: 0 $baseline;
  width: auto;
  &.cta {
    color: $white;
    background: $brand;
    border: $border-width $border-style $brand;
  }
  &.secondary {
    background: $black;
    border-color: $black;
  }
}

#{$all-buttons}, .button {
  border: $border-style $border-width $brand;
  text-align: center;
  appearance: none;
  background-color: $brand;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $stack-1;
  font-size: $body;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  width: 100%;
  -webkit-appearance: none;
  padding: 0 $baseline;
  line-height: $baseline*2;
  &:hover, &:focus {
    background-color: $black;
    border-color: $black;
    color: #fff;
  }
  &:active {
    -webkit-box-shadow: inset 0px 5px 35px -10px rgba($dark-gray, 0.75);
    -moz-box-shadow: inset 0px 5px 35px -10px rgba($dark-gray, 0.75);
    box-shadow: inset 0px 5px 35px -10px rgba($dark-gray, 0.75);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 1;
    background-color: $medium-gray;
    &:hover {
      background-color: darken($medium-gray, 10%);
    }
  }
  &.secondary {
    background: $white;
    color: $black;
    border-color: $black;
  }
}

.white-button {
  background-color: #fff;
  color: $dark-gray;
}

.white-button:hover {
  background-color: darken($base-background-color, 10%);
  color: $dark-gray;
}

.negative {
  background-color: $red;
  color: #fff;

}

.negative:hover, .negative:focus {
  background-color: $darker-red;
  color: #fff;
}

.alt-button {
  background-color: $orange;
}

.alt-button:hover, .alt-button:focus {
  background-color: $darker-orange;
}

.small-button, .extra-small-button {
  width: auto;
  padding: 0.50em 0.75em;
  font-size: 16px;
}

.extra-small-button {
  font-size: 12px;
  padding: 0.25em 0.4em;
}