/* button */

// remove the .cta from .button when the buttons sass file is sorted out.

.button.cta {
  position: relative;
  font-family: $stack-2;
  text-align: center;
  font-size: $body;
  font-weight: 700;
  line-height: $baseline*2;
  background: $brand;
  border-color: $brand;
  color: $white;
  display: inline-block;
  padding: 0 $baseline;
  width: auto;
  &.cta {
    color: $white;
    background: $brand;
    border: $border-width $border-style $brand;
  }
  &.secondary {
    background: $black;
    border-color: $black;
  }
}
