/* error */

.error-block {
  color: $error;
  background: $white;
  font-weight: 700;
  padding: 0 0 $baseline 0;
  .fa-frown-o, .fa-exclamation-triangle {
    margin: $baseline*0.5 0;
    text-align: center;
    width: 100%;
  }
}