fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $baseline * 0.5;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $baseline * 0.25;
  &.long .small {
    float: left;
    width: 100%;
  }
}

input,
select,
textarea {
  @include non-rounded;
  display: block;
  font-size: $body;
  font-weight: 700;
  line-height: $baseline;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
  margin: 0;
  margin-right: $baseline*0.25;
}

.concession-cont .fa-times {
  float: right;
  line-height: $baseline;
}

#{$all-text-inputs}, select[multiple] {
  background-color: white;
  border: $black $border-width-thin $border-style;
  box-sizing: border-box;
  margin-bottom: $baseline*0.5;
  padding: $baseline*0.5;
  transition: border-color ;
  width: 100%;
  &:hover {
    border-color: $brand;
  }
  &:focus {
    border-color: $brand;
    outline: none;
  }
  &:disabled {
    background-color: $gray-light;
    cursor: not-allowed;
    border: $gray-light $border-width $border-style;
    &::placeholder {
      color: $white;
    }
  }
  &::placeholder {
    color: $black;
  }
}

#filter {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  max-width: 100%;
  width: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select {
  @include box-sizing;
  border: $border-width-thin $border-style $black;
  border-radius: 0;
  background-color: $white;
  line-height: 1.5em;
  padding: $baseline*0.5 $baseline $baseline*0.5 $baseline*0.5;
  color: $black;
  cursor: pointer;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, $black 50%), linear-gradient(135deg, $black 50%, transparent 50%), linear-gradient(to right, $black, $black);
  background-position: calc(100% - #{$baseline*0.5}) calc(13px + 13px), calc(100% - #{$baseline*0.5 - 5}) calc(13px + #{$baseline*0.5}), calc(100% - #{$baseline}) 0px;
  background-size: 5px 5px, 5px 5px, 1px $baseline*2.5;
  background-repeat: no-repeat;
  margin-bottom: $baseline*0.5;
  width: 100%;  
  &.year, &.month, &.day, &.hour, &.minute {
    display: inline;
    width: 33%;
  }
}