fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $baseline * 0.5;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $baseline * 0.5;
}

input,
select,
textarea {
  display: block;
  font-size: $body;
  font-weight: 700;
}

#{$all-text-inputs}, select[multiple] {
  background-color: white;
  border: $brand $border-width $border-style;
  box-sizing: border-box;
  margin-bottom: $baseline * 0.5;
  padding: $baseline * 0.5;
  transition: border-color ;
  width: 100%;
  &:hover {
    border-color: $brand;
  }
  &:focus {
    border-color: $brand;
    outline: none;
  }
  &:disabled {
    background-color: $gray-light;
    cursor: not-allowed;
    border: $gray-light $border-width $border-style;
    &::placeholder {
      color: $white;
    }
  }
  &::placeholder {
    color: $black;
  }
}

#filter {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  max-width: 100%;
  width: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
