/* general styles for elements */

.overlay {
  background-color: rgba($gray,0.9);
  background: linear-gradient(45deg, rgba($gradient-1,1), rgba($gradient-2,1));
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}