ul, ol {
  list-style: none;
  padding: 0;
  margin-bottom: $baseline*0.5;
  li {
    margin-bottom: $baseline*0.25;
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}