.tabs-container {
  margin: 0 auto;
  text-align: center;
  display: inline-flex;

  .tab {
    display: inline-block;
    padding: 7px 15px;
    border: 2px solid $gray-dark;
    margin: 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: $gray-dark;
  }

  .tab.selected {
    background-color: $gray-dark;
    color: $white;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    // background-color: rgba($orange, 0.3)
    // border: 2px solid $orange
    z-index: 2;
  }

  .tab:first-child {
    margin-right: -1px;
  }

  .tab:last-child {
    margin-left: -1px;
  }
}

.three-tabs {
  .tab:nth-child(2) {
    margin-left: -1px;
  }

  .tab:last-child {
    margin-left: -2px;
  }
}

.tabs-container.full-width-tabs {
  width: 100%;
  max-width: 375px;

  .tab {
    width: 50%;
  }
}