/* public_index page specific style. Named as the body id "public-index" */

#demo {
  float: left;
  background-color: $white;
  .logo {
    background: image-url('logo.svg');
    background-size: 100% 100%;
    display: block;
    width: $logo-width;
    height: $logo-height;
    z-index: 1000;
    h1 {
      font-weight: 900;
      text-transform: uppercase;
      text-indent: -9999px;
      font-style: italic;
      position: fixed;
      color: $brand;
      margin: 0;
      width: inherit;
      height: $logo-height;
    }
    span {
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      font-style: italic;
      float: left;
      margin-top: 21px;
      margin-left: $logo-width + $baseline*0.125;
    }
  }
  h3 {
    $h3: 30px;
    font-size: $h3;
    font-weight: 900;
    line-height: calc(#{$h3} * 1.1);
    margin-top: 0;
    margin-bottom: calc(#{$baseline*2} - #{$h3} * 1.1);
  }
  .header {
    background: none;
    position: absolute;
  }
  .main {
    .hero {
      float: none;
      display: inline-block;
      position: relative;
      section {
        margin-top: $baseline*2;
        margin-bottom: $baseline*2;
      }
      h3 {
        $h4: 50px;
        font-size: $h4;
        font-weight: 900;
        line-height: calc(#{$h4} * 1.2);
        margin-top: 0;
        margin-bottom: calc(#{$baseline*4 - $border-width} - #{$h4} * 1.2);
      }
      h3, p {
        color: $white;
      }
      .overlay {
        background-color: rgba(9, 7, 16, 0.42);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 500;
      }
      &.regular {
        margin-top: $baseline*2;
        .overlay {
          background-color: rgba(20, 35, 51, 0.61);
        }
        .event {
          background-image: image-url('daily_service.png');
          background-position-y: center;
        }
      }
      &.enquiry {
        margin-top: $baseline*2;
        .overlay {
          background-color: rgba(3, 23, 29, 0.5);
        }
        .event {
          background-image: image-url('enquiry.jpg');
          background-position-y: center;
          background-position-x: center;
        }
      }
      .action {
        position: relative;
        a {
          background: $white;
          border-color: $white;
          color: $brand;
          min-width: $baseline*10;
        }
        a:hover {
          background: $brand;
          border-color: $brand;
          color: $white;
          &.disabled {
            background: $white;
            border-color: $white;
            color: $brand;
            cursor: not-allowed;
            opacity: 0.9;
          }
        }
      }
    }
    .event {
      background-image: image-url('newmarket.jpg');
    }
  }
}
