#bookings-confirmation {
  .header {
    display: none;
  }
  a.button {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

#bookings-update {

  #submit-booking-2, #pay-online-2 {
    margin: 7px 0;
    @media screen and (min-width: ($mobile-break + 251px)) {
      float: right;
    }
  }
  
  #pay-online-2 {
    @media screen and (min-width: ($mobile-break + 251px)) {
      margin-right: 7px;
    }
  }
}
