#journeys-index {
  .collection .single {
    margin-bottom: $baseline*0.25;
    width: 100%;
  }
  .single {
    width: 100%;
  }
  .action {
    width: 90%;
  }
  .easy-autocomplete {
    max-width: 100%;
  }
}


#journeys-index, #bookings-edit {
  .section {
    max-width: 1150px;
    padding: 0 25px;
  }
}
