#journeys-index {
  .collection .single {
    margin-bottom: $baseline*0.25;
    width: 100%;
  }
  .single {
    width: 100%;
  }
  .action {
    width: 90%;
  }
  .easy-autocomplete {
    width: 100% !important;
  }
}


#journeys-index, #bookings-edit, #bookings-update {
  .section {
    max-width: 960px;
    padding: 0 25px;

    @media screen and (min-width: ($hd-screen)) {
      max-width: 1150px;
    }
  }
}

// these may not be in the right scss file but I have put them here for now:
.arrival-times {
  clear: both;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
}
button {
  border-radius: 0;
}

// styles for passengers partial
#message {
  clear: both;
  color: $red;
  font-weight: 600;
}
.remove {
  text-transform: lowercase;
  line-height: 47px;
}
#add-pass {
  margin: 15px 0;
}
#pass-container {
  #passes{
    float: left;
    width: 100%;
  }
}
#price {
  max-width: 370px;
  margin: 30px auto;
  #total {
    font-size: 25px;
  }
}
