#journeys-index {
  .new_booking {
    input[type='submit'] {
      bottom: $baseline;
      position: absolute;
      width: 75%;
    }
  }
  // #results {
  //   position: absolute;
  //   background: white;
  //   z-index: 100;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   display: none;
  //   .options {
  //     position: relative;
  //     max-height: initial;
  //   }
  // }
}