#journeys-index {
  .collection .single {
    margin-bottom: $baseline*0.25;
    width: 100%;
  }
  .single {
    width: 100%;
  }
  .action {
    width: 90%;
  }
  .easy-autocomplete {
    width: 100% !important;
  }
  section.section {
    @include outer-container(75%);
  }
}
