/* for all pages within marketing */

#promotion-index,
#public-index {
  .main {
    .divide {
      border-top: $border-width $border-style $brand;
      margin-top: $baseline*0.5;
      margin-bottom: $baseline*0.5;
    }
    .interest {
      background: $gray-lighter;
      margin: 0;
      width: 50%;
      border: $border-width-thick $border-style $white;
      border-right-width: $border-width-thick*0.5;
      border-bottom: none;
      @include pad($gutter);
      & + .interest {
        border-left-width: $border-width-thick*0.5;
        border-right-width: $border-width-thick;
      }
      .section {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
      p {
        font-size: $medium;
        line-height: 24px;
      }
    }
  }
}