/* public_index page specific style. Named as the body id "public-index" */

#public-index {
  float: left;
  background-color: $white;
  .header {
    background: none;
    position: absolute;
  }
}
