/* public_index page specific style. Named as the body id "public-index" */

#public-index {
  background-color: $white;
  .main-cont {
    position: absolute;
  }
  .header {
    background-color: transparent;
    color: $white;
    position: absolute;
  }
  .hero {
    float: none;
    display: inline-block;
    background-color: rgba($gray,0.9);
    background: linear-gradient(45deg, $gradient-1, $gradient-2);
    background: none;
    position: relative;
    text-align: center;
    .heading {
      margin-top: $baseline*10;
      margin-bottom: $baseline*8;
      h1 span {
        color: $brand;
      }
      h1 {
        $h1: 30px; // no to variables here, but in this case I think yes.
        font-size: $h1;
        line-height: calc(#{$h1} * 1.2);
        margin-top: calc(#{$h1});
        margin-bottom: calc(#{$h1});
        text-transform: uppercase;
        position: fixed;
        top: $baseline;
        left: $baseline;
        margin: 0;
      }
      h2 {
        $h2: 40px; // no to variables here, but in this case I think yes.
        font-size: $h2;
        line-height: calc(#{$h2} * 1.2);
        margin-top: 0;
        margin-bottom: calc(#{$h2});
        text-align: center;
      }
      p {
        $p: 20px; // no to variables here, but in this case I think yes.
        font-size: $p;
        line-height: calc(#{$p} * 1.2);
        margin-top: 0;
        margin-bottom: calc(#{$p} * 1.2);
      }
    }
    .cta {
      color: $white;
      border-color: $brand;
      background: $brand;
      text-align: center;
    }
  }
  .main {
    .map {
      background-image: url('snazzy-image.png');
      background-size: cover;
      height: $baseline*14;
      + .section {
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
      }
    }
  }
  .footer {
    background-color: $white;
  }
}