#terms-index {
  .main {
    section.section {
      margin-top: $baseline*1.5;
      margin-bottom: $baseline*1.5;
    }
    h3, p {
      text-align: left;
    }
    ol {
      counter-reset: item;
      li {
        h3 {
          margin-left: $gutter;
          margin-top: $baseline*2;
        }
        &:before { 
          content: counters(item, ".");
          counter-increment: item;
          position: absolute;
        }
        &:first-child {
          margin-top: $baseline*2;
        }
        p {
          margin-left: $gutter*2;
        }
        strong + p {
          margin-left: 0;
        }
        section {
          margin-bottom: $baseline*2;
        }
      }
      ol li ol li {
        list-style: lower-alpha;
        margin-left: $gutter*2;
        left: -$gutter*0.5;
        position: relative;
        &:before {
          content: none;
        }
        &:first-child {
          margin-top: $baseline*2;
        }
        p {
          margin-left: $gutter*0.5;
        }
      }
    }
  }
}