---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/01632960373?CountryCode=GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.012'
      Twilio-Request-Id:
      - RQ56fe356d815441c5b87e80a2b5427a84
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /PhoneNumbers/01632960373
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Wed, 25 Jul 2018 09:38:53 GMT
recorded_with: VCR 4.0.0
