---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/+15005550006?CountryCode=GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.014'
      Twilio-Request-Id:
      - RQ365545180bb34534abaf062fa028bd12
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+15005550006",
        "national_format": "(500) 555-0006", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+15005550006"}'
  recorded_at: Mon, 05 Feb 2018 11:52:59 GMT
- request:
    method: post
    uri: https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements
    body:
      encoding: UTF-8
      string: From=%2B441473760072&Parameters=%7B%22booking_url%22%3A%22http%3A%2F%2Fexample.org%2Fbookings%2F2%22%2C%22token%22%3A%22kYWP3aqvS6m3rW-F8iJYLQ%22%7D&To=%2B15005550006
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.355'
      Twilio-Request-Id:
      - RQ5ce2d308568742e7ae5a8956afb3daf4
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"status": "active", "date_updated": null, "contact_channel_address":
        "+15005550006", "account_sid": "<TWILIO_ID>", "url": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements/FNcb5fe7451cdffd8c965688ffd0a9acec",
        "context": null, "sid": "FNcb5fe7451cdffd8c965688ffd0a9acec", "date_created":
        "2018-02-05T11:53:00Z", "contact_sid": "FC83c26d8251ded846686ec08e261f34eb",
        "flow_sid": "<TWILIO_FLOW_ID>", "links": {"steps": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements/FNcb5fe7451cdffd8c965688ffd0a9acec/Steps"}}'
  recorded_at: Mon, 05 Feb 2018 11:53:00 GMT
recorded_with: VCR 4.0.0
