---
http_interactions:
- request:
    method: get
    uri: https://studio.twilio.com/v1/Flows/FW07543d887f6f68c5ed75e2b3fa33aa74/Engagements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUNkN2RlZGNmZjgxZDdhZGE2M2U3NzUxY2I1OTRiZTM2NjpkZGNmYjE1N2UyOTNhYmE3NmNjYzcxYTRkN2I3ODM1MA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.057'
      Twilio-Request-Id:
      - RQ2e7970b3962443feafc05b191b65e937
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"engagements": [{"status": "ended", "date_updated": "2018-02-02T16:12:53Z",
        "contact_channel_address": "+15005550006", "account_sid": "ACd7dedcff81d7ada63e7751cb594be366",
        "url": "https://studio.twilio.com/v1/Flows/FW07543d887f6f68c5ed75e2b3fa33aa74/Engagements/FN0aed8b17627e61e2890bab913afa5da1",
        "context": {"contact": {"channel": {"address": "+15005550006"}}, "trigger":
        {"request": {"from": "+441473760072", "to": "+15005550006", "parameters":
        {"booking_url": "http://example.org/bookings/2"}}}, "widgets": {}, "flow":
        {"data": {"booking_url": "http://example.org/bookings/2"}, "channel": {"address":
        "+441473760072"}}}, "sid": "FN0aed8b17627e61e2890bab913afa5da1", "date_created":
        "2018-02-02T16:12:53Z", "contact_sid": "FC83c26d8251ded846686ec08e261f34eb",
        "flow_sid": "FW07543d887f6f68c5ed75e2b3fa33aa74", "links": {"steps": "https://studio.twilio.com/v1/Flows/FW07543d887f6f68c5ed75e2b3fa33aa74/Engagements/FN0aed8b17627e61e2890bab913afa5da1/Steps"}},
        {"status": "ended", "date_updated": "2018-02-02T16:12:50Z", "contact_channel_address":
        "+15005550006", "account_sid": "ACd7dedcff81d7ada63e7751cb594be366", "url":
        "https://studio.twilio.com/v1/Flows/FW07543d887f6f68c5ed75e2b3fa33aa74/Engagements/FN6a554b2fa94bab896e3d2e7eced22a89",
        "context": {"contact": {"channel": {"address": "+15005550006"}}, "trigger":
        [...]
{"request": {"from": "+441473760072", "to": "+447946335745", "parameters":
        {"booking_url": "http://localhost:3000/bookings/118"}}}, "widgets": {"split_3":
        {}, "question_3": {"inbound": {"MessagingServiceSid": null, "From": "+447946335745",
        "ToState": "Ipswich", "MessageSid": "SMdcb620fcde2e43d2ab06d879e0e03381",
        "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366", "FromCountry": "GB", "ToCity":
        "", "ToZip": "", "FromCity": "", "To": "+441473760072", "FromZip": "", "Body":
        "Someone", "ToCountry": "GB", "FromState": "", "NumMedia": "0"}, "outbound":
        {"Status": "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid": null,
        "DateUpdated": "2018-02-02T10:30:08.000Z", "DateCreated": "2018-02-02T10:30:08.000Z",
        "NumSegments": "1", "From": "+441473760072", "Direction": "outbound-api",
        "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366", "Sid": "SM28669d1bbe13471eadeea2e00d5d8487",
        "DateSent": null, "PriceUnit": null, "Price": null, "ErrorCode": null, "To":
        "+447946335745", "ErrorMessage": null, "Body": "How did you find out about
        Ride?", "NumMedia": "0"}}, "question_4": {"inbound": {"MessagingServiceSid":
        null, "From": "+447946335745", "ToState": "Ipswich", "MessageSid": "SMdd1e066fb1c19b48d6ab4e68c1068f5e",
        "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366", "FromCountry": "GB", "ToCity":
        "", "ToZip": "", "FromCity": "", "To": "+441473760072", "FromZip": "", "Body":
        "\u00a350000", "ToCountry": "GB", "FromState": "", "NumMedia": "0"}, "outbound":
        {"Status": "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid": null,
        "DateUpdated": "2018-02-02T10:30:16.000Z", "DateCreated": "2018-02-02T10:30:16.000Z",
        "NumSegments": "1", "From": "+441473760072", "Direction": "outbound-api",
        "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366", "Sid": "SMad4db0dc53fb44a082c5d6e35df93ffb",
        "DateSent": null, "PriceUnit": null, "Price": null, "ErrorCode": null, "To":
        "+447946335745", "ErrorMessage": null, "Body": "What would you be willing
        to pay for the exact same journey you took?", "NumMedia": "0"}}, "question_1":
        {"inbound": {"MessagingServiceSid": null, "From": "+447946335745", "ToState":
        "Ipswich", "MessageSid": "SMd3f5e8ec448733291ef25680b6729408", "AccountSid":
        "ACd7dedcff81d7ada63e7751cb594be366", "FromCountry": "GB", "ToCity": "", "ToZip":
        "", "FromCity": "", "To": "+441473760072", "FromZip": "", "Body": "Yes", "ToCountry":
        "GB", "FromState": "", "NumMedia": "0"}, "outbound": {"Status": "queued",
        "ApiVersion": "2010-04-01", "MessagingServiceSid": null, "DateUpdated": "2018-02-02T10:29:45.000Z",
        "DateCreated": "2018-02-02T10:29:45.000Z", "NumSegments": "2", "From": "+441473760072",
        "Direction": "outbound-api", "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366",
        "Sid": "SMf41ef1b125ad45f7bc5ab61d5f3b121b", "DateSent": null, "PriceUnit":
        null, "Price": null, "ErrorCode": null, "To": "+447946335745", "ErrorMessage":
        null, "Body": "Hello! This is Ride. Your feedback is really important. Please
        help us improve the service by replying to the 5 following questions. \n\nCan
        you confirm you travelled with us today? Just reply YES or NO*.", "NumMedia":
        "0"}}, "end": {"outbound": {"Status": "queued", "ApiVersion": "2010-04-01",
        "MessagingServiceSid": null, "DateUpdated": "2018-02-02T10:30:34.000Z", "DateCreated":
        "2018-02-02T10:30:34.000Z", "NumSegments": "1", "From": "+441473760072", "Direction":
        "outbound-api", "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366", "Sid":
        "SM6eddb755a0eb4968b3075b37503c461b", "DateSent": null, "PriceUnit": null,
        "Price": null, "ErrorCode": null, "To": "+447946335745", "ErrorMessage": null,
        "Body": "Thanks for your feedback. We hope to see you Ride again soon.", "NumMedia":
        "0"}}, "question_2": {"inbound": {"MessagingServiceSid": null, "From": "+447946335745",
        "ToState": "Ipswich", "MessageSid": "SM15ac509b0bf584488ade1c35a181fe3e",
        "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366", "FromCountry": "GB", "ToCity":
        "", "ToZip": "", "FromCity": "", "To": "+441473760072", "FromZip": "", "Body":
        "5", "ToCountry": "GB", "FromState": "", "NumMedia": "0"}, "outbound": {"Status":
        "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid": null, "DateUpdated":
        "2018-02-02T10:30:00.000Z", "DateCreated": "2018-02-02T10:30:00.000Z", "NumSegments":
        "1", "From": "+441473760072", "Direction": "outbound-api", "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366",
        "Sid": "SM65e3459a83e54fcbbc35c4d395bddd98", "DateSent": null, "PriceUnit":
        null, "Price": null, "ErrorCode": null, "To": "+447946335745", "ErrorMessage":
        null, "Body": "How would you rate the overall experience, from 1 (dissatisfied)
        to 5 (extremely satisfied)?", "NumMedia": "0"}}, "http_1": {"status_code":
        200, "content_type": "application/json", "parsed": {"status": "success", "attempt":
        "5a743dca-6c53-41a4-a88f-bc87090a3bf0", "id": "472debdd-b0d2-4645-aede-a3a39ca08f7a",
        "request_id": "5a743dca-6c53-41a4-a88f-bc87090a3bf0"}, "body": "{\"status\":
        \"success\", \"attempt\": \"5a743dca-6c53-41a4-a88f-bc87090a3bf0\", \"id\":
        \"472debdd-b0d2-4645-aede-a3a39ca08f7a\", \"request_id\": \"5a743dca-6c53-41a4-a88f-bc87090a3bf0\"}"},
        "question_5": {"inbound": {"MessagingServiceSid": null, "From": "+447946335745",
        "ToState": "Ipswich", "MessageSid": "SM3e0ce13ad67138eec51af53440d1cfbb",
        "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366", "FromCountry": "GB", "ToCity":
        "", "ToZip": "", "FromCity": "", "To": "+441473760072", "FromZip": "", "Body":
        "Yes", "ToCountry": "GB", "FromState": "", "NumMedia": "0"}, "outbound": {"Status":
        "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid": null, "Date[...]
[...]
{"request": {"from": "+441473760072", "to": "07946335745", "parameters": {"booking_url":
        "http://localhost:3000/bookings/118"}}}, "widgets": {"Intro": {"outbound":
        {"Status": "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid": null,
        "DateUpdated": "2018-02-02T10:25:15.000Z", "DateCreated": "2018-02-02T10:25:15.000Z",
        "NumSegments": "1", "From": "+441473760072", "Direction": "outbound-api",
        "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366", "Sid": "SMff290a50fd50478a831578aaf4466f9e",
        "DateSent": null, "PriceUnit": null, "Price": null, "ErrorCode": null, "To":
        "+447946335745", "ErrorMes[...]
{"request": {"from": "+441473760072", "to": "+447946335745", "parameters":
        {"booking_url": "http://example.com"}}}, "widgets": {"split_3": {}, "Intro":
        {"outbound": {"Status": "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid":
        null, "DateUpdated": "2018-02-01T16:52:25.000Z", "DateCreated": "2018-02-01T16:52:25.000Z",
        "NumSegments": "1", "From": "+441473760072", "Direction": "outbound-api",
        "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366", "Sid"[...]
{"request": {"from": "+441473760072", "to": "+447460680930", "parameters":
        {}}}, "widgets": {"split_3": {}, "Intro": {"outbound": {"Status": "queued",
        "ApiVersion": "2010-04-01", "MessagingServiceSid": null, "DateUpdated": "2018-02-01T15:55:01.000Z",
        "DateCreated": "2018-02-01T15:55:01.000Z", "NumSegments": "1", "From": "+441473760072",
        "Direction": "outbound-api", "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366",
        "Sid": "SMacf1f3ec6e3c45a590fa2fcee373c2eb", "DateSent": null, "PriceUnit":
        null, "Price": null, "ErrorCode": null, "To": "+447460680930", "ErrorMessage":
        null, "Body": "Hello! This is RIDE. Your feedback is really important. Please
        help us improve the service by replying to the 5 following questions.", "NumMedia":
        "0"}}, "send_message_1": {"outbound": {"Status": "queued", "ApiVersion": "2010-04-01",
        "MessagingServiceSid": null, "DateUpdated": "2018-02-01T15:56:22.000Z", "DateCreated":
        "2018-02-01T15:56:22.000Z", "NumSegments": "1", "From": "+441473760072", "Direction":
        "outbound-api", "AccountSid": "ACd7dedcff81d7ada63e7751cb594be366", "Sid":
        "SM0111e9d17bb54f54979066e51223f8a0", "DateSent": null, "PriceUnit": null,
        "Price": null, "ErrorCode": null, "To": "+447460680930", "ErrorMessage": n[...]
[...]
{"request": {"from": "+441173252034", "to": "+447946335745", "parameters":
        {}}}, "widgets": {}, "flow": {"data": {}, "channel": {"address": "+441173252034"}}},
        "sid": "FN726d4d5f36ecc105731d09063ef2d9f6", "date_created": "2018-02-01T15:17:04Z",
        "contact_sid": "FC1630d15cb9ca47cfa051afaa5dc1dc46", "flow_sid": "FW07543d887f6f68c5ed75e2b3fa33aa74",
        "links": {"steps": "https://studio.twilio.com/v1/Flows/FW07543d887f6f68c5ed75e2b3fa33aa74/Engagements/FN726d4d5f36ecc105731d09063ef2d9f6/Steps"}}],
        "meta": {"page": 0, "page_size": 50, "first_page_url": "https://studio.twilio.com/v1/Flows/FW07543d887f6f68c5ed75e2b3fa33aa74/Engagements?PageSize=50&Page=0",
        "previous_page_url": null, "url": "https://studio.twilio.com/v1/Flows/FW07543d887f6f68c5ed75e2b3fa33aa74/Engagements?PageSize=50&Page=0",
        "next_page_url": null, "key": "engagements"}}'
  recorded_at: Fri, 02 Feb 2018 16:13:29 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/+15005550006?CountryCode=GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUNkN2RlZGNmZjgxZDdhZGE2M2U3NzUxY2I1OTRiZTM2NjpkZGNmYjE1N2UyOTNhYmE3NmNjYzcxYTRkN2I3ODM1MA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.017'
      Twilio-Request-Id:
      - RQ0019f5c7e2ce43929b6058e14b59b687
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+15005550006",
        "national_format": "(500) 555-0006", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+15005550006"}'
  recorded_at: Fri, 02 Feb 2018 16:13:30 GMT
[...]
{"request": {"from": "+441173252034", "to": "+447946335745", "parameters":
        {}}}, "widgets": {}, "flow": {"data": {}, "channel": {"address": "+441173252034"}}},
        "sid": "FN726d4d5f36ecc105731d09063ef2d9f6", "date_created": "2018-02-01T15:17:04Z",
        "contact_sid": "FC1630d15cb9ca47cfa051afaa5dc1dc46", "flow_sid": "FW07543d887f6f68c5ed75e2b3fa33aa74",
        "links": {"steps": "https://studio.twilio.com/v1/Flows/FW07543d887f6f68c5ed75e2b3fa33aa74/Engagements/FN726d4d5f36ecc105731d09063ef2d9f6/Steps"}}],
        "meta": {"page": 0, "page_size": 50, "first_page_url": "https://studio.twilio.com/v1/Flows/FW07543d887f6f68c5ed75e2b3fa33aa74/Engagements?PageSize=50&Page=0",
        "previous_page_url": null, "url": "https://studio.twilio.com/v1/Flows/FW07543d887f6f68c5ed75e2b3fa33aa74/Engagements?PageSize=50&Page=0",
        "next_page_url": null, "key": "engagements"}}'
  recorded_at: Fri, 02 Feb 2018 16:13:32 GMT
recorded_with: VCR 4.0.0
