---
http_interactions:
- request:
    method: get
    uri: https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.080'
      Twilio-Request-Id:
      - RQ19c6db0b52934cc79824733465ed6f26
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"engagements": [{"status": "ended", "date_updated": "2018-02-05T11:49:24Z",
        "contact_channel_address": "+15005550006", "account_sid": "<TWILIO_ID>", "url":
        "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements/FN063d0cc0bcabaa2e1f124780579b87b6",
        "context": {"contact": {"channel": {"address": "+15005550006"}}, "trigger":
        {"request": {"from": "<TWILIO_PHONE_NUMBER>", "to": "+15005550006", "parameters":
        {"booking_url": "http://example.org/bookings/2", "token": "0Zhclotugj2wnn2r2lQy-w"}}},
        "widgets": {}, "flow": {"data": {"booking_url": "http://example.org/bookings/2",
        "token": "0Zhclotugj2wnn2r2lQy-w"}, "channel": {"address": "<TWILIO_PHONE_NUMBER>"}}},
        "sid": "FN063d0cc0bcabaa2e1f124780579b87b6", "date_created": "2018-02-05T11:49:23Z",
        "contact_sid": "FC83c26d8251ded846686ec08e261f34eb", "flow_sid": "<TWILIO_FLOW_ID>",
        "links": {"steps": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements/FN063d0cc0bcabaa2e1f124780579b87b6/Steps"}},
        {"status": "ended", "date_updated": "2018-02-05T11:49:21Z", "contact_channel_address":
        "+15005550006", "account_sid": "<TWILIO_ID>", "url": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements/FN7668df0cee4cf6436ddbd5d12dc0afbc",
        "context": {"contact": {"channel": {"address": "+15005550006"}}, "trigger":
        [...]
{"request": {"from": "<TWILIO_PHONE_NUMBER>", "to": "+447946335745", "parameters":
        {"booking_url": "http://localhost:3000/bookings/1"}}}, "widgets": {"split_3":
        {}, "missed_response": {"outbound": {"Status": "queued", "ApiVersion": "2010-04-01",
        "MessagingServiceSid": null, "DateUpdated": "2018-02-05T10:27:48.000Z", "DateCreated":
        "2018-02-05T10:27:48.000Z", "NumSegments": "1", "From": "<TWILIO_PHONE_NUMBER>",
        "Direction": "outbound-api", "AccountSid": "<TWILIO_ID>", "Sid": "SMc0b6036573e4447b9b9781a364050774",
        "DateSent": null, "PriceUnit": null, "Price": null, "ErrorCode": null, "To":
        "+447946335745", "ErrorMessage": null, "Body": "Thanks for your feedback.
        We hope to see you Ride soon.", "NumMedia": "0"}}, "question_1": {"inbound":
        {"MessagingServiceSid": null, "From": "+447946335745", "ToState": "Ipswich",
        "MessageSid": "SM3f231d7619ec1a9830a22a4438199762", "AccountSid": "<TWILIO_ID>",
        "FromCountry": "GB", "ToCity": "", "ToZip": "", "FromCity": "", "To": "<TWILIO_PHONE_NUMBER>",
        "FromZip": "", "Body": "No", "ToCountry": "GB", "FromState": "", "NumMedia":
        "0"}, "outbound": {"Status": "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid":
        null, "DateUpdated": "2018-02-05T10:27:05.000Z", "DateCreated": "2018-02-05T10:27:05.000Z",
        "NumSegments": "2", "From": "<TWILIO_PHONE_NUMBER>", "Direction": "outbound-api",
        "AccountSid": "<TWILIO_ID>", "Sid": "SMf13e3e0f75564d5ba50d9e872b4aac87",
        "DateSent": null, "PriceUnit": null, "Price": null, "ErrorCode": null, "To":
        "+447946335745", "ErrorMessage": null, "Body": "Hello! This is Ride. Your
        feedback is really important. Please help us improve the service by replying
        to the 5 following questions. \n\nCan you confirm you travelled with us today?
        Just reply YES or NO.", "NumMedia": "0"}}, "http_2": {}, "missed_feedback":
        {"inbound": {"MessagingServiceSid": null, "From": "+447946335745", "ToState":
        "Ipswich", "MessageSid": "SM3287e0ab85689fec5cbc97916ea24314", "AccountSid":
        "<TWILIO_ID>", "FromCountry": "GB", "ToCity": "", "ToZip": "", "FromCity":
        "", "To": "<TWILIO_PHONE_NUMBER>", "FromZip": "", "Body": "Driver didn''t
        turn up", "ToCountry": "GB", "FromState": "", "NumMedia": "0"}, "outbound":
        {"Status": "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid":[...]
[...]
{"request": {"from": "<TWILIO_PHONE_NUMBER>", "to": "+447946335745", "parameters":
        {"booking_url": "http://localhost:3000/bookings/118"}}}, "widgets": {"split_3":
        {}, "question_3": {"inbound": {"MessagingServiceSid": null, "From": "+447946335745",
        "ToState": "Ipswich", "MessageSid": "SMdcb620fcde2e43d2ab06d879e0e03381",
        "AccountSid": "<TWILIO_ID>", "FromCountry": "GB", "ToCity": "", "ToZip": "",
        "FromCity": "", "To": "<TWILIO_PHONE_NUMBER>", "FromZip": "", "Body": "Someone",
        "ToCountry": "GB", "FromState": "", "NumMedia": "0"}, "outbound": {"Status":
        "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid": null, "DateUpdated":
        "2018-02-02T10:30:08.000Z", "DateCreated": "2018-02-02T10:30:08.000Z", "NumSegments":
        "1", "From": "<TWILIO_PHONE_NUMBER>", "Direction": "outbound-api", "AccountSid":
        "<TWILIO_ID>", "Sid": "SM28669d1bbe13471eadeea2e00d5d8487", "DateSent": null,
        "PriceUnit": null, "Price": null, "ErrorCode": null, "To": "+447946335745",
        "ErrorMessage": null, "Body": "How did you find out about Ride?", "NumMedia":
        "0"}}, "question_4": {"inbound": {"MessagingServiceSid": null, "From": "+447946335745",
        "ToState": "Ipswich", "MessageSid": "SMdd1e066fb1c19b48d6ab4e68c1068f5e",
        "AccountSid": "<TWILIO_ID>", "FromCountry": "GB", "ToCity": "", "ToZip": "",
        "FromCity": "", "To": "<TWILIO_PHONE_NUMBER>", "FromZip": "", "Body": "\u00a350000",
        "ToCountry": "GB", "FromState": "", "NumMedia": "0"}, "outbound": {"Status":
        "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid": null, "DateUpdated[...]
[...]
{"request": {"from": "<TWILIO_PHONE_NUMBER>", "to": "07946335745", "parameters":
        {"booking_url": "http://localhost:3000/bookings/118"}}}, "widgets": {"Intro":
        {"outbound": {"Status": "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid":
        null, "DateUpdated": "2018-02-02T10:25:15.000Z", "DateCreated": "2018-02-02T10:25:15.000Z",
        "NumSegments": "1", "From": "<TWILIO_PHONE_NUMBER>", "Direction": "outbound-api",
        "AccountSid": "<TWILIO_ID>", "Sid": "SMff290a50fd50478a831578aaf4466f9e",
        "DateSent": null, "PriceUnit": null, "Price": null, "ErrorCode": null, "To":
        "+447946335745", "ErrorMessage": null, "Body": "Hello! This is Ride. Your
        feedback is really important. Please help us improve the service by replying
        to the 5 following questions.", "NumMedia": "0"}}}, "flow": {"data": {"booking_url":
        "http://localhost:3000/bookings/118"}, "channel": {"address": "<TWILIO_PHONE_NUMBER>"}}},
        "sid": "FN9d90be4c57c832756854064dc9756014", "date_created": "2018-02-02T10:25:15Z",
        "contact_sid": "FCc3e5d00ff8040ded6fa9ae576db628fb", "flow_sid": "<TWILIO_FLOW_ID>",
        "links": {"steps": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements/FN9d90be4c57c832756854064dc9756014/Steps"}},
        {"status": "ended", "date_updated": "2018-02-01T16:53:40Z", "contact_channel_address":
        "+447946335745", "account_sid": "<TWILIO_ID>", "url": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements/FNc459dd79226c8cf985c16ca8b7e9baac",
        "context": {"contact": {"channel": {"address": "+447946335745"}}, "trigger":
        {"request": {"from": "<TWILIO_PHONE_NUMBER>", "to": "+447946335745", "parameters":
        {"booking_url": "http://example.com"}}}, "widgets": {"split_3": {}, "Intro":
        {"outbound": {"Status": "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid":
        null, "DateUpdated": "2018-02-01T16:52:25.000Z", "DateCreated": "2018-02-01T16:52:25.000Z",
        "NumSegments": "1", "From": "<TWILIO_PHONE_NUMBER>", "Direction": "outbound-api",
        "AccountSid": "<TWILIO_ID>", "Sid": "SM1e[...]
{"request": {"from": "<TWILIO_PHONE_NUMBER>", "to": "+447460680930", "parameters":
        {}}}, "widgets": {"split_3": {}, "Intro": {"outbound": {"Status": "queued",
        "ApiVersion": "2010-04-01", "MessagingServiceSid": null, "DateUpdated": "2018-02-01T15:55:01.000Z",
        "DateCreated": "2018-02-01T15:55:01.000Z", "NumSegments": "1", "From": "<TWILIO_PHONE_NUMBER>",
        "Direction": "outbound-api", "AccountSid": "<TWILIO_ID>", "Sid": "SMacf1f3ec6e3c45a590fa2fcee373c2eb",
        "DateSent": null, "PriceUnit": null, "Price": null, "ErrorCode": null, "To":
        "+447460680930", "ErrorMessage": null, "Body": "Hello! This is RIDE. Your
        feedback is really important. Please help us improve the service by replying
        to the 5 following questions.", "NumMedia": "0"}}, "send_message_1": {"outbound":
        {"Status": "queued", "ApiVersion": "2010-04-01", "MessagingServiceSid": null,
        "DateUpdated": "2018-02-01T15:56:22.000Z", "DateCreated": "2018-02-01T15:56:22.000Z",
        "NumSegments": "1", "From": "<TWILIO_PHONE_NUMBER>", "Direction": "outbound-api",
        "AccountSid": "<TWILIO_ID>", "Sid": "SM0111e9d17bb54f54979066e51223f8a0",
        "DateSent": null, "PriceUnit": null, "Price": null, "ErrorCode": null, "To":
        "+447460680930", "ErrorMessage": null, "B[...]
[...]
{"request": {"from": "+441173252034", "to": "+447946335745", "parameters":
        {}}}, "widgets": {}, "flow": {"data": {}, "channel": {"address": "+441173252034"}}},
        "sid": "FN726d4d5f36ecc105731d09063ef2d9f6", "date_created": "2018-02-01T15:17:04Z",
        "contact_sid": "FC1630d15cb9ca47cfa051afaa5dc1dc46", "flow_sid": "<TWILIO_FLOW_ID>",
        "links": {"steps": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements/FN726d4d5f36ecc105731d09063ef2d9f6/Steps"}}],
        "meta": {"page": 0, "page_size": 50, "first_page_url": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements?PageSize=50&Page=0",
        "previous_page_url": null, "url": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements?PageSize=50&Page=0",
        "next_page_url": null, "key": "engagements"}}'
  recorded_at: Mon, 05 Feb 2018 11:52:55 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/+15005550006?CountryCode=GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.014'
      Twilio-Request-Id:
      - RQb96fed76fc2947e28720c84dd5ee3bd5
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+15005550006",
        "national_format": "(500) 555-0006", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+15005550006"}'
  recorded_at: Mon, 05 Feb 2018 11:52:56 GMT
[...]
{"request": {"from": "+441173252034", "to": "+447946335745", "parameters":
        {}}}, "widgets": {}, "flow": {"data": {}, "channel": {"address": "+441173252034"}}},
        "sid": "FN726d4d5f36ecc105731d09063ef2d9f6", "date_created": "2018-02-01T15:17:04Z",
        "contact_sid": "FC1630d15cb9ca47cfa051afaa5dc1dc46", "flow_sid": "<TWILIO_FLOW_ID>",
        "links": {"steps": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements/FN726d4d5f36ecc105731d09063ef2d9f6/Steps"}}],
        "meta": {"page": 0, "page_size": 50, "first_page_url": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements?PageSize=50&Page=0",
        "previous_page_url": null, "url": "https://studio.twilio.com/v1/Flows/<TWILIO_FLOW_ID>/Engagements?PageSize=50&Page=0",
        "next_page_url": null, "key": "engagements"}}'
  recorded_at: Mon, 05 Feb 2018 11:52:58 GMT
recorded_with: VCR 4.0.0
