/* grid. refer to older documentation http://neat.bourbon.io/docs/1.7.1/ */


@media only screen and (max-width: 667px) {

  .section {
    @include outer-container(100%);
  }

  .hero {
    @include span-columns(12);
    margin-right: 0;
    .book {
      @include span-columns(12);
    }
    section.section {
      @include span-columns(12);
      @include shift(0);
      margin-right: 0;
    }
  }

  .main {
    @include span-columns(12);
    margin-right: 0;
    .section.features {
      @include span-columns(12);
      @include shift(0);
      margin-right: 0;
      .icon {
        @include span-columns(12);
        margin-right: 0;
      }
    }
    .journey .single {
      @include span-columns(12);
    }
    .collection .single {
      @include span-columns(12);
    }
    section.section {
      @include span-columns(8);
      @include shift(2);
      margin-right: 0;
    }
    .action {
      @include span-columns(12);
      @include shift(0);
    }
  }

}