<div id="sup_edit_stop">
  <h2>Add a Place:</h2>
  <div class="wide-btn">
    <%= form_for [:admin, @place] do |form| %>
      <%= render partial: 'fields', locals: {form: form} %>
      <%= form.submit "Create Place", :class => "button name_validation" %>
    <% end %>
  </div>
</div>
