%section.section
  .card
    %h2 Add a place
    = form_for [:admin, @place] do |form|
      = render partial: 'fields', locals: {form: form}
      .action.primary
        = form.submit "Create Place", :class => "button name_validation"
