%section.section
  .times{ id: "outward_times"}
    %label
      = t('bookings.outward.time')
    .hide_times
      - journeys.each do |date,journey_collection|
        %p{class: "journeys_#{date.to_s} hidden time" }
          - journey_collection.sort_by(&:start_time).uniq.each do |j|
            = render 'journey_time', journey: j, type: type, form: form, journey_type: journey_type

      .arrival-times.hidden

- content_for :js do
  :javascript
  
    var showArrivalTime = function(data, place) {
      var time = data.arrivalTime;
      var type = data.type;
      var selector = '#' + type +'_times .arrival-times';
      
      $(selector).removeClass('hidden');
      $(selector).html('Approximate arrival time in ' + place + '- <span class="bold">' + time + '</span>');
    }

    $('.times input').click(function() {
      var data = $(this).data();
      var dateTime = data.arrivalDateTime;
      var place = $('#end_location label').html();
      
      showArrivalTime(data, place);

      $('#one_way').removeClass('hidden');
      $.get(
        '#{return_journeys_route_booking_path(@route, @booking)}',
        { start_time: dateTime }
      );
    })
