%section.section
  %h2
    Booking cancelled
    
  %p
    Your booking has been cancelled. Thank you for choosing
    %strong
      Ride
    and we hope you choose us again in the future.
  
  %p
    = link_to 'Book another journey', journeys_path, class: 'button'
    
