%section.section
  %h2
    Booking cancelled

  %p Your booking has been cancelled. We are sorry you won’t be riding but we hope you will choose Ride again in the future.

  %p
    = link_to 'Book another journey', journeys_path, class: 'button'

