.cont
  +outer-container
.card-cont
  +outer-container(95%)
.card
  +span-columns(12)
  background: #ffffff
  border-radius: 2px
  margin-bottom: 35px
  text-align: left
  position: relative
  //box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0px 15px 30px 0px rgba(0,0,0,0.07)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)

  p:last-child
    margin-bottom: 0
  .inner
    padding: 20px
    +outer-container
  .pickUp, .dropOff
    font-size: 14px
    color: $medium-gray
    margin-top: -3px
    display: block

  .timeEst
    font-size: 18px
    font-weight: 600
  .date
    +span-columns(12)
    text-transform: uppercase
  .midArw
    position: absolute
    top: 16%
    left: 42%
    font-size: 17px 

.cardBtn
  +span-columns(12)
  text-align: center
  color: #fff
  padding: 8px
  text-transform: uppercase
  border-radius: 0
  border-bottom-left-radius: 2px
  border-bottom-right-radius: 2px
  font-size: 17px
  cursor: pointer

.half.cardBtn
  border-radius: 0
  width: 50% !important
  border-bottom-left-radius: 2px  
.half.cardBtn.negative
  border-bottom-right-radius: 2px
  border-bottom-left-radius: 0px

.card
  transition: all 0s cubic-bezier(.25,.8,.25,1), box-shadow 1s cubic-bezier(.25,.8,.25,1)

.card:hover, .card.no_click:active
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0px 15px 30px 0px rgba(0,0,0,0.07)
  //box-shadow: 0 10px 20px rgba(0,0,0,0.08), 0px 20px 30px 0px rgba(0,0,0,0.10)
  transition: all 0.1s cubic-bezier(.25,.8,.25,1), box-shadow 0.7s cubic-bezier(.25,.8,.25,1)

.card:active
  box-shadow: 0 4px 6px rgba(0,0,0,0.06), 0 1px 3px rgba(0,0,0,0.24)
  transition: all 0s cubic-bezier(.25,.8,.25,1), box-shadow 0.2s cubic-bezier(.25,.8,.25,1) !important

.cardBtn, button, [type='button'], [type='reset'], [type='submit'], .inputfile_label
  background: rgba($prim-color, 0.9)
  transition: all 0s, background 1s cubic-bezier(.25,.8,.25,1)
.cardBtn:hover, button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover, .inputfile_label:hover
  background: rgba($prim-color, 1)
  transition: all 0s, background 0.7s cubic-bezier(.25,.8,.25,1)
  color: #fff

input[type='submit'].cardBtn
  padding: 8px
  font-weight: 700
  line-height: 25.5px