table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}

tbody.alternating tr {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
tbody.alternating tr:nth-child(even) {
  background-color: rgba(#eee, 0.4);
}
tbody.alternating tr:hover {
  background-color: rgba($prim-color, 0.3);
}
tbody.alternating tr:first-child {
  background-color: #fff !important;
}

