// Breakpoints
$mobile-break: 600px;
$large-screen: 960px;

// Typography
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic,600italic,800';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;

// Font Sizes
$base-font-size: 18px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.3;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

$mobile-padding-side: 25px;

// Colors
$prim-color: #1565c0;
$orange: #FF8637;
$darker-orange: #EA7529;
$red: #c01b15;
$darker-red: #a91812;
$blue: #1565c0;
$darker-blue: #0246A6;
$teal: #15bbc0;
$darker-teal: #12a5a9;
$coral: #ff5253;
$pink: #ED5A82;

$white: #fff;

$dark-gray: #231f30;
$medium-gray: #999;
$light-gray: #E9E9E9;
$lightest-gray: #F9F9F9;

// Background Colors
$base-background-color: $lightest-gray;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;



// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
