<h1>Welcome to Total Transport, <%= @supplier.name %></h1>
<hr>

<p>Thank you for applying to be a supplier at Total Transport. Your account has now been approved.</p>

<p>To start creating journeys <%= link_to "log in here", new_session_path(@resource) %>.</p>