%p
  %strong
    A project by:
  Essex County Council | Suffolk County Council | FutureGov

%p
  = link_to 'Website', 'https://bookyourride.co.uk/'
  |
  = link_to 'Twitter', 'https://twitter.com/bookyourride'
  |
  = link_to 'Facebook', 'https://www.facebook.com/bookyourride/'
