= t('email.booking_details.journey_html', pickup_date: friendly_date(trip.pickup_time), pickup_time: format_time(trip.pickup_time), pickup_stop: trip.pickup_stop.name, dropoff_stop: trip.dropoff_stop.name, pickup_landmark: trip.pickup_landmark.name, dropoff_landmark: trip.dropoff_landmark.name)
