%hr/

%p
  You are receiving this message because you have opted to receive email alerts on the
  = link_to 'Book Your Ride', 'https://bookyourride.co.uk'
  website. To stop receiving emails, you can
  = link_to 'unsubscribe from all emails', "<% unsubscribe_link %>".html_safe
