/* mneeds checking */

#public-index {
  .hero {
    text-align: left;
    .heading {
      margin-top: $baseline*2;
      h2 {
        float: left;
      }
      .action {
        margin-top: 0;
        h4 {
          $h4: 40px;
          font-size: $h4;
          line-height: calc(#{$h4} * 1.2);
        }
      }
      .icon {
        img {
          width: 150px;
          height: auto;
        }
      }
    }
  }
  .main {
    h3 {
      display: block;
      .hyphen {
        display: none;
      }
      span ~ span {
        display: block;
      }
    }
  }
}
