<header>
<h1>Total Transport</h1>
  <img src="" alt="Total Transport Logo">
  <h2 class="tagline">Create and book your personalised bus journey</h2>
</header>
<form>
  <label for="phone">Type your number to get started</label>
  <input type="text" name="phone" id="phone">
  <p class="hint">We need this so we can notify you when your bus is coming</p>
  <a>Learn more</a>
  <input type="submit" value="Go">
</form>
<section class="how-it-works">
  <ul>
    <li class="step">
      <h3>Step 1: Choose a route and a time</h3>
      <img src="" alt="Choose a route">
      <p>Routes cover bla bla bla. No stops bla bla bla.hen are you going to travel? Times are provisional. We'll text you a more precise time.</p>
    </li>
    <li class="step">
      <h3>Step 2: Tell us where to pick you up</h3>
      <img src="" alt="Choose a pick up spot">
      <p>We can pick you up anywhere within the highlighted areas. We can come to your doorstep or anywhere else if it's convenient to stop.</p>
    </li>
    <li class="step">
      <h3>Step 3: Choose how to pay</h3>
      <img src="" alt="Choose a how to pay">
      <p>You can pay with a card or use your bus pass. You can also have someone else top up credits to you account.</p>
    </li>
    <li class="step">
      <h3>Step 4: Get notified when your bus is on its way</h3>
      <img src="" alt="Get notified">
      <p>We’ll send you a text when your bus is about to come so you don’t need to wait outside in the cold. You will be notified if your bus is running late.</p>
    </li>
  </ul>
</section>
<footer>
  <p>Total Transport is an experimental service by Essex County Council. For more information, email xxxx@xxxxx.co.uk or call XXXXXXX.</p>
</footer>
