<div id="styleguide">
  <section class="styleGuideSec" id="contents">
    <div class="inner">
      <h1>Total Transport<br/>Content Style Guide</h1>
      <p>The purpose of this is to Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu pulvinar lectus, id interdum nunc. Suspendisse auctor magna sapien, eget rhoncus enim venenatis quis. Aliquam erat volutpat. Sed finibus pharetra mi fringilla mollis.</p>

      <hr>

      <h2>Contents</h2>
      <ol>
        <li><a href="#contents">Contents</a></li>
        <li><a href="#toneOfVoice">Tone of Voice</a></li>
        <li><a href="#glos">Glossary</a></li>
        <li><a href="#type">Typography</a></li>
        <li><a href="#colour">Colour</a></li>
        <li><a href="#uiLib">UI Library</a></li>
      </ol>
    </div>
  </section>

  <section class="styleGuideSec" id="toneOfVoice">
    <h2>Tone of Voice <i class="fa fa-chevron-down styleGuideArw"></i></h2>
    <p class="highlight">The purpose of this is to Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu pulvinar lectus, id interdum nunc. Suspendisse auctor magna sapien, eget rhoncus enim venenatis quis. Aliquam erat volutpat. Sed finibus pharetra mi fringilla mollis.</p>
    <div class="acord">
      test
    </div>
  </section>

  <section class="styleGuideSec" id="glos">
    <h2>Glossary <i class="fa fa-chevron-down styleGuideArw"></i></h2>
    <p class="highlight">The glossary blah blah blah</p>
    <div class="acord">
      <div class="card third">
        <div class="inner">
          <h3>Route</h3>
          <span>A collection of multiple stops in an defined order, which a driver will follow.</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner">
          <h3>Journey</h3>
          <span>An instance of a route - which has time and date applied to it.</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner">
          <h3>Stop</h3>
          <span>A chosen boundary area for either a pick up/drop off, from within a route.</span>
        </div>
      </div>

      <div class="card third">
        <div class="inner">
          <h3>Pick Up</h3>
          <span>A specific GPS point for collecting a passenger, found within the boundaries of a stop.</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner">
          <h3>Drop Off</h3>
          <span>A specific GPS point for depositing a passenger, found within the boundaries of a stop.</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner">
          <h3>Booking</h3>
          <span>An instance of a passenger's confirmed journey, containing their pick up and drop off locations.</span>
        </div>
      </div>

      <div class="card third">
        <div class="inner">
          <h3>Passenger</h3>
          <span>A user a passenger of a vehicle; attached to a booking.</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner">
          <h3>Driver</h3>
          <span>The user in charge of a vehicle; attached to a journey.</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner">
          <h3>Provider</h3>
          <span>Either a group/company that controls their drivers, or a casual driver who manages their bookings themselves.</span>
        </div>
      </div>
      
      <div class="card third">
        <div class="inner">
          <h3>Vehicle</h3>
          <span>It has a specific capacity and driver; used to transport its passengers from/to their pick up/drop off stops.</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner">
          <h3>Capacity</h3>
          <span>Vehicles have a quantity of seats that passengers fill on their journey, this can vary on a route.</span>
        </div>
      </div>
    </div>
  </section>

  <section class="styleGuideSec" id="type">
    <h2>Typography <i class="fa fa-chevron-down styleGuideArw"></i></h2>
    <p>blah balh blah</p>
    <div class="acord">
      <p>The font family of the body text is: <span id="type_body">error</span></p>
      <p>The font family of the headers is: <span id="type_header">error</span></p>
    </div>
  </section>

  <section class="styleGuideSec" id="colour">
    <h2>Colour <i class="fa fa-chevron-down styleGuideArw"></i></h2>
    <p>blah</p>
    <div class="acord">
      <div class="card third">
        <div class="inner" id="prim_col">
          Primary Colour: <div class="colourSqr"></div> <br/>
          <span class="colHex">#</span> / <span class="colRGB">rgb()</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner" id="second_col">
          Secondary Colour: <div class="colourSqr"></div> <br/>
          <span class="colHex">#</span> / <span class="colRGB">rgb()</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner" id="bg_col">
          BG Colour: <div class="colourSqr"></div> <br/>
          <span class="colHex">#</span> / <span class="colRGB">rgb()</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner" id="d_gray_col">
          Dark Gray: <div class="colourSqr"></div> <br/>
          <span class="colHex">#</span> / <span class="colRGB">rgb()</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner" id="m_gray_col">
          Medium Gray: <div class="colourSqr"></div> <br/>
          <span class="colHex">#</span> / <span class="colRGB">rgb()</span>
        </div>
      </div>
      <div class="card third">
        <div class="inner" id="l_gray_col">
          Light Gray: <div class="colourSqr"></div> <br/>
          <span class="colHex">#</span> / <span class="colRGB">rgb()</span>
        </div>
      </div>
    </div>
  </section>

  <section class="styleGuideSec" id="uiLib">
    <h2>UI Library <i class="fa fa-chevron-down styleGuideArw"></i></h2>
    <p>blah balh blah</p>
    <div class="">
      <h3>Cards</h3>
      <p>Route Card:</p>
      <div class="route card third">
        <div class="inner">
          <div class="origin">Bradwell-on-Sea</div>
          <div class="bar"></div>
          <div class="acordBtn" id="farmBtn"><span class="arw"><i class="fa fa-chevron-down"></i></span> Via 4 Stops</div>
          <div class="acord">
            <ul>
              <li class="firstStop" style="display: none">Bradwell-on-Sea</li>
              <li>Tillingham</li>
              <li id="farm">Dengie</li>
              <li>Asheldham</li>
              <li>Southminster</li>
              <li class="lastStop" style="display: none">Burnham-on-Crouch</li>
            </ul>
          </div>
          <div class="desti" id="cinema">Burnham-on-Crouch</div>
        </div>
        <a href="#">
          <div class="cardBtn">
            <span>Customise Route</span>
          </div>
        </a>
      </div>

      <article>
        <p>Time Card:</p>
        <div class="card third">
          <div class="inner">
            <div class="left">
              <span class="timeEst">18:25 - 18:40</span><br/>
              <span class="pickUp">Dengie</span>
            </div>
            <div class="midArw"><i class="fa fa-arrow-right"></i></div>
            <div class="right">
              <span class="timeEst">19:05 - 19:20</span><br/>
              <span class="dropOff">Burnham-on-Crouch</span>
            </div>
          </div>
          <a href="#">
            <div class="cardBtn">
              <span>Book Journey</span>
            </div>
          </a>
        </div>
      </article>

      <article>
        <p>Choose Stops:</p>
        <div class="third">
          <div class="stop-list">
            <div id="main-line"></div>
            <div class="stop card" id="1">
              <div class="stop-dot">
                <div class="stop-dot-middle"></div>
              </div>
              <div class="stop-dot-line"></div>
              <div class="stop-title">Bradwell-on-Sea</div>
            </div>
            <div class="stop card" id="2">
              <div class="stop-dot">
                <div class="stop-dot-middle"></div>
              </div>
              <div class="stop-dot-line"></div>
              <div class="stop-title">Tillingham</div>
            </div>
            <div class="stop card" id="3">
              <div class="stop-dot">
                <div class="stop-dot-middle"></div>
              </div>
              <div class="stop-dot-line"></div>
              <div class="stop-title">Dengie</div>
            </div>
            <div class="stop card" id="4">
              <div class="stop-dot">
                <div class="stop-dot-middle"></div>
              </div>
              <div class="stop-dot-line"></div>
              <div class="stop-title">Asheldham</div>
            </div>
            <div class="stop card" id="5">
              <div class="stop-dot">
                <div class="stop-dot-middle"></div>
              </div>
              <div class="stop-dot-line"></div>
              <div class="stop-title">stop again</div>
            </div>
            <div class="stop card" id="6">
              <div class="stop-dot">
                <div class="stop-dot-middle"></div>
              </div>
              <div class="stop-dot-line"></div>
              <div class="stop-title">another stop</div>
            </div>
            <div class="stop card" id="7">
              <div class="stop-dot">
                <div class="stop-dot-middle"></div>
              </div>
              <div class="stop-dot-line"></div>
              <div class="stop-title">a final stop</div>
            </div>

            <div class="clear"></div>
          </div>
        </div>
      </article>
    </div>
  </section>
<!--
  <section class="styleGuideSec" id="headings">    
    <h2>Headings <i class="fa fa-chevron-down styleGuideArw"></i></h2>
    <h1>h1. Heading</h1>
    <h2>h2. Heading</h2>
    <h3>h3. Heading</h3>
    <h4>h4. Heading</h4>
    <h5>h5. Heading</h5> 
    <h6>h6. Heading</h6>
    
  </section>

  <hr>

  <section class="styleGuideSec" id="copy">
    <h2 id="paragraph">Paragraph <i class="fa fa-chevron-down styleGuideArw"></i></h2>
    <p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
    <p>Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
  </section>

  <section class="styleGuideSec" id="layout">
    <div id="grid">
      <h2>Grid <i class="fa fa-chevron-down styleGuideArw"></i></h2>
      <div class="left">
        <span>3 Columns</span>
      </div>
      <div class="right">
        <span>9 Columns</span>
      </div>
    </div>
  </section>

  <hr>

  <section class="styleGuideSec" id="htmlelements">
    <h2 id="list_types">List Types <i class="fa fa-chevron-down styleGuideArw"></i></h2>
    <h3>Definition List</h3>
    <dl>
      <dt>Definition List Title</dt>
      <dd>This is a definition list division.</dd>
    </dl>
    <h3>Ordered List</h3>
    <ol>
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List Item 3</li>
    </ol>
    <h3>Unordered List</h3>
    <ul>
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List Item 3</li>
    </ul>
    <hr>
    <h2 id="form_elements">Fieldsets and Form Elements <i class="fa fa-chevron-down styleGuideArw"></i></h2>
    <fieldset>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>
      <form>
        <h2>Form Element <i class="fa fa-chevron-down styleGuideArw"></i></h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.</p>
        <p><label for="text_field">Text Field:</label>
        <input type="text" id="text_field"></p>
        <p>
          <label for="text_area">Text Area:</label>
          <textarea id="text_area"></textarea>
        </p>
        <p><label for="select_element">Select Element:</label>
        <select name="select_element">
          <optgroup label="Option Group 1">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </optgroup>
          <optgroup label="Option Group 2">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </optgroup>
        </select></p>
        <p><label for="radio_buttons">Radio Buttons:</label>
        <label>
          <input type="radio" class="radio" name="radio_button" value="radio_1"> Radio 1
        </label>
        <label>
          <input type="radio" class="radio" name="radio_button" value="radio_2"> Radio 2
        </label>
        <label>
          <input type="radio" class="radio" name="radio_button" value="radio_3"> Radio 3
        </label>
        </p>
        <p><label for="checkboxes">Checkboxes:</label>
        <label>
          <input type="checkbox" class="checkbox" name="checkboxes" value="check_1"> Checkbox 1
        </label>
        <label>
          <input type="checkbox" class="checkbox" name="checkboxes" value="check_2"> Checkbox 2
        </label>
        <label>
          <input type="checkbox" class="checkbox" name="checkboxes" value="check_3"> Checkbox 3
        </label>
          </p>
          <p><label for="password">Password:</label>
          <input type="password" class="password" name="password">
        </p>
        <p><label for="file">File Input:</label>
        <input type="file" class="file" name="file">
        </p>
        <p><input type="submit" value="Submit"></p>
      </form>
    </fieldset>
    <hr>
    <h2 id="tables">Tables <i class="fa fa-chevron-down styleGuideArw"></i></h2>
    <table cellspacing="0" cellpadding="0">
      <tbody><tr>
      <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
      </tr>
      <tr>
      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
      </tr>
      <tr class="even">
      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
      </tr>
      <tr>
      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
      </tr>
      </tbody>
    </table>
  </section>
-->
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.styleGuideSec h2').click(function() {
      var parent = $(this).closest('.styleGuideSec');
      dropAcord(parent, '.styleGuideSec');
    });

    $('#contents li a').click(function() {
      var link = $(this).attr('href');
      if (!$(link).hasClass('open')) {
        dropAcord($(link), '.styleGuideSec');
      }
    });

    var glosNames = [];
    $('#glos .card h3').each(function() {
      glosNames.push($(this).html().toLowerCase());
      $(this).attr('id', 'glos-'+$(this).html().replace(/\s+/g, '-').toLowerCase());
    });

    $(glosNames).each(function(index, value) {
      $('#glos span').each(function() {
        var me = $(this),
            txt = me.html(),
            found = me.find(value).length,
            link = value.replace(/\s+/g, '-');
        regex = new RegExp('(' + value + ')(?![^(<a.*?>).]*?<\/a>)','gi');
        if (found != -1) {
          txt = txt.replace(regex, '<a href="#glos-'+link+'">$1</a>');
          me.html(txt);
        }
      });
    });

    $('#glos .card a').click(function(){
      $('#glos .card').each(function() {
        $(this).removeClass('glos_highlight').removeClass('glos_lesser').addClass('glos_lesser');
      });
      var link = $(this).attr('href');
      $(link).closest('.card').addClass('glos_highlight');

      setTimeout(function(){
        $('#glos .card').each(function() {
          $(this).removeClass('glos_highlight').removeClass('glos_lesser');
      });
      },1500);
    });

    // Detect the fonts and display in Typography
    $('#type_body').html($('body').css('font-family'));
    $('#type_header').html($('h1').css('font-family'));
    // Detect the colours and display hash in colour section
    $('#colour .card').each(function() {
      var RGB = $(this).find('.colourSqr').css('background-color');
      $(this).find('.colRGB').html(RGB);
      $(this).find('.colHex').html(rgb2hex(RGB));
    });
    //Convert RGB to Hex
    function rgb2hex(orig){
      var rgb = orig.replace(/\s/g,'').match(/^rgba?\((\d+),(\d+),(\d+)/i);
      return (rgb && rgb.length === 4) ? "#" +
      ("0" + parseInt(rgb[1],10).toString(16)).slice(-2) +
      ("0" + parseInt(rgb[2],10).toString(16)).slice(-2) +
      ("0" + parseInt(rgb[3],10).toString(16)).slice(-2) : orig;
    }
  });
  
</script>