#map_wrapper {
  position: relative;
  width: 600px;
  height: 300px;
  margin-bottom: 0.75em;
  
  .easy-autocomplete {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
    width: 400px !important;
    background-color: transparent;
    
    input {
      width: 400px;
      padding: 5px;
    }
    
  }
}

.stop {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  margin-top: $baseline*0.5;
  margin-bottom: $baseline*0.5;
  
  &:focus {
    cursor: drag;
  }
}
