#map_wrapper {
  position: relative;
  width: 600px;
  height: 300px;
  margin-bottom: 0.75em;
  
  #search_map {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    width: 400px;
    font-size: 0.6em;
    background-color: #fff;
  }
}
