#admin-team-filter {
  h4 {
    strong {
      font-size: 23px;
    }
  }
}

.supplier_suggestions {
  #supplier-suggestion {
    display: none;
  }
}

.edit_journey, .new_journey {
  select {
    display: inline-block;
  }
}

.route_preview {
  width: 100%;
  height: 200px;
}

.supplier {
  label {
    font-weight: 400;

    //margin-top: 15px
 
  }
}

/* START edit route page */
#sup_edit_route {
  #sortable_stops {
    //padding: 15px
    margin: 0;
    overflow: visible;

    .button, [type='button'], [type='reset'], [type='submit'] {
      padding: 10px 15px;
    }

    .stop {
      cursor: -webkit-grab;
      cursor: -moz-grab;
      margin-bottom: 6px;

      .stop_name {
        font-size: 28px;
      }

      .buttons {
        position: absolute;
        bottom: 15px;
      }

      .edit_stop {
        font-size: 18px;
      }

      .minutes-field {
        width: 52px;
        display: inline-block;
        padding: 3px 6px;
      }
    }

    .min_save {
      padding: 6px 12px !important;
      margin-top: -3px;
      margin-left: 10px;
    }

    .stop:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
    }

    .ui-sortable-helper {
      box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15);
      cursor: move;
    }
  }

  .map_preview {
    width: 100%;
    height: 100px;
  }
}

/* END edit route page */

/* START all journeys page */
.jrny-single {
  color: $dark-gray !important;

  .bookings {
    text-align: center;

    .number {
      font-size: 35px;
    }
  }
}

.past-journey {
  opacity: 0.75;
}

/* END all journeys page */

/* START add journey page */

.sup_edit_jrny.active:hover {
  opacity: 0.8;
}

.sup_edit_jrny, .sup_edit_jrny_info {
  transition: all 0s, opacity 300ms, top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.sup_edit_jrny_info {
  margin-top: -3px;
  border-top: 1px solid rgba($base-background-color, 0.5);
}

/* END add journey page */

/* admin styles */

.single_vehicle {
  text-align: center;

  .vehicle_col_block {
    width: 15px;
    height: 15px;
    background-color: $base-background-color;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.stop {
  #stop_place_id {
    display: inline;
  }

  #add-place {
    display: inline-block;
  }
}

.new_place {
  #map_wrapper {
    .easy-autocomplete {
      position: absolute;
      z-index: 9999;
      right: 10px;
      top: 10px;

      input {
        font-size: 10px;
        width: 300px;
      }
    }
  }
}

#admin-team-filter {
  h4 {
    strong {
      font-size: 23px;
    }
  }
}

.supplier_suggestions {
  #supplier-suggestion {
    display: none;
  }
}

.edit_journey, .new_journey {
  select {
    display: inline-block;
  }
}

.route_preview {
  width: 100%;
  height: 200px;
}

.supplier {
  label {
    font-weight: 400;

    //margin-top: 15px
 
  }
}

/* START edit route page */
#sup_edit_route {
  #sortable_stops {
    //padding: 15px
    margin: 0;
    overflow: visible;

    .button, [type='button'], [type='reset'], [type='submit'] {
      padding: 10px 15px;
    }

    .stop {
      cursor: -webkit-grab;
      cursor: -moz-grab;
      margin-bottom: 6px;

      .stop_name {
        font-size: 28px;
      }

      .buttons {
        position: absolute;
        bottom: 15px;
      }

      .edit_stop {
        font-size: 18px;
      }

      .minutes-field {
        width: 52px;
        display: inline-block;
        padding: 3px 6px;
      }
    }

    .min_save {
      padding: 6px 12px !important;
      margin-top: -3px;
      margin-left: 10px;
    }

    .stop:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
    }

    .ui-sortable-helper {
      box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15);
      cursor: move;
    }
  }

  .map_preview {
    width: 100%;
    height: 100px;
  }
}

/* END edit route page */

/* START all journeys page */
.jrny-single {
  color: $dark-gray !important;

  .bookings {
    text-align: center;

    .number {
      font-size: 35px;
    }
  }
}

.past-journey {
  opacity: 0.75;
}

/* END all journeys page */

/* START add journey page */

.sup_edit_jrny.active {
  margin-bottom: 0px;

  .highlight {
    font-weight: 600;
  }
}

.sup_edit_jrny.active:hover {
  opacity: 0.8;
}

.sup_edit_jrny, .sup_edit_jrny_info {
  transition: all 0s, opacity 300ms, top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.sup_edit_jrny_info {
  margin-top: -3px;
  border-top: 1px solid rgba($base-background-color, 0.5);
}

/* END add journey page */

/* admin styles */

.single_vehicle {
  text-align: center;

  .vehicle_col_block {
    width: 15px;
    height: 15px;
    background-color: $base-background-color;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.stop {
  #stop_place_id {
    display: inline;
  }

  #add-place {
    display: inline-block;
  }
}

.new_place {
  #map_wrapper {
    .easy-autocomplete {
      position: absolute;
      z-index: 9999;
      right: 10px;
      top: 10px;

      input {
        font-size: 10px;
        width: 300px;
      }
    }
  }
}