.supplier_suggestions {
  #supplier-suggestion {
    display: none;
  }
}

.edit_journey, .new_journey {
  select {
    display: inline-block;
  }
}

.route_preview {
  width: 100%;
  height: 200px;
}


/* admin styles */

.supplier_suggestions {
  #supplier-suggestion {
    display: none;
  }
}

.new_place {
  #map_wrapper {
    .easy-autocomplete {
      position: absolute;
      z-index: 9999;
      right: 10px;
      top: 10px;

      input {
        font-size: 10px;
        width: 300px;
      }
    }
  }
}