.edit_journey, .new_journey
  select
    display: inline-block

.route_preview
  width: 100%
  height: 200px

.supplier
  select
    border: 1px solid rgba($dark-gray, 0.7)
    border-radius: 2px
    background-color: #fff
    line-height: 1.5em
    padding: 5px 40px 5px 10px
    color: $dark-gray
    cursor: pointer

    margin: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    -webkit-appearance: none
    -moz-appearance: none

    background-image: linear-gradient(45deg, transparent 50%, $dark-gray 50%), linear-gradient(135deg, $dark-gray 50%, transparent 50%), linear-gradient(to right, rgba($dark-gray, 0.3), rgba($dark-gray, 0.3))
    background-position: calc(100% - 15px) calc(15px + 2px), calc(100% - 10px) calc(15px + 2px), calc(100% - 30px) 10px
    background-size: 5px 5px, 5px 5px, 1px 20px
    background-repeat: no-repeat
  select:focus
    outline: none
    border: 1px solid $prim-color
  label
    font-weight: 400
    margin-top: 15px

/* START edit route page */
#sup_edit_route
  #sortable_stops
    //padding: 15px
    margin: 0
    overflow: visible
    button, [type='button'], [type='reset'], [type='submit']
      padding: 10px 15px
    .stop
      cursor: -webkit-grab
      cursor: -moz-grab
      margin-bottom: 6px
      .stop_name
        font-size: 28px
      .buttons
        position: absolute
        bottom: 15px
      .edit_stop
        font-size: 18px
      .minutes-field
        width: 52px
        display: inline-block
        padding: 3px 6px
    .min_save
      padding: 6px 12px !important
      margin-top: -3px
      margin-left: 10px
    .stop:active
      cursor: -webkit-grabbing
      cursor: -moz-grabbing
    .ui-sortable-helper
      box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15)
      cursor: move
  .map_preview
    width: 100%
    height: 100px

/* END edit route page */

/* START edit Stop page */

#team_toggle
  width: 100%
  text-align: center
  margin-bottom: 25px

  .switch
    position: relative
    display: inline-block
    width: 60px
    height: 34px
    vertical-align: middle
    margin: 0 5px

  .switch input
    display: none

  .slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #ccc
    -webkit-transition: .4s
    transition: .4s

  .slider:before
    position: absolute
    content: ""
    height: 26px
    width: 26px
    left: 4px
    bottom: 4px
    background-color: white
    -webkit-transition: .4s
    transition: .4s

  input:focus + .slider
    box-shadow: 0 0 1px #2196F3

  input:checked + .slider:before
    -webkit-transform: translateX(26px)
    -ms-transform: translateX(26px)
    transform: translateX(26px)

  .slider.round
    border-radius: 34px

  .slider.round:before
    border-radius: 50%

/* END edit Stop page */

/* START all journeys page */
.jrny_single
  color: $dark-gray !important

/* END all journeys page */

/* START add journey page */
.sup_edit_jrny
  cursor: pointer
  opacity: 0.9
  margin-bottom: 15px
  li
    margin-bottom: 5px

.sup_edit_jrny:hover, .sup_edit_jrny.active
  opacity: 1
.sup_edit_jrny.active
  margin-bottom: 0px
  .highlight
    font-weight: 600
.sup_edit_jrny.active:hover
  opacity: 0.8
.sup_edit_jrny, .sup_edit_jrny_info
  transition: all 0s, opacity 300ms, top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94)

.sup_edit_jrny_info
  margin-top: -3px
  border-top: 1px solid rgba($background-color, 0.5)
/* END add journey page */
