/* grid. refer to older documentation http://neat.bourbon.io/docs/1.7.1/ */

.section, .supplier {
  // @include pad(0 default);
  @include outer-container(75%);
}

.hero {
  @include span-columns(12);
  margin-right: 0;
  .features {
    @include span-columns(12);
    .icon {
      @include span-columns(4);
    }
  }
}

.main {
  @include span-columns(12);
  .journey .single {
    @include span-columns(4);
    @include shift(0);
  }
  .collection .single {
    @include span-columns(4);
    @include shift(0);
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.header {
  @include span-columns(12);
}

.footer {
  @include span-columns(12);
}

.psuedo-footer {
  @include span-columns(12);
}

.key {
  .markers {
    @include span-columns(1);
  }
  .route {
    @include span-columns(1);
  }
  .form {
    @include span-columns(5);
  }
  .info-wrap {
    @include span-columns(11);
    margin-left: 0;
  }
}

.card, .pagination, .suggestion {
  @include span-columns(12);
}
