/* grid. refer to older documentation http://neat.bourbon.io/docs/1.7.1/ */

.section {
  // @include pad(0 default);
  @include outer-container(75%);
}

.hero {
   @include span-columns(12);
   margin-right: 0;
}

.main {
  @include span-columns(12);
  .journey .single {
    @include span-columns(4);
    @include shift(0);
  }
  .collection .single {
    @include span-columns(4);
    @include shift(0);
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.footer {
  @include span-columns(12);
  background: red;
}

.key {
  .markers {
    @include span-columns(1);
  }
  .route {
    @include span-columns(1);
  }
  .form {
    @include span-columns(5);
  }
  .info-wrap {
    @include span-columns(11);
    margin-left: 0;
  }
}
