/* grid. refer to older documentation http://neat.bourbon.io/docs/1.7.1/ */

.section {
  @include outer-container(100%);
}

.hero {
  @include span-columns(12);
  margin-right: 0;
  .book {
    @include span-columns(5);
  }
  section.section {
    @include span-columns(12);
  }
  .section.heading {
    @include span-columns(10);
    @include shift(1);
  }
}

.main {
  @include span-columns(12);
  .features {
    @include span-columns(12);
    .icon {
      @include span-columns(4);
    }
  }
  .journey .single {
    @include span-columns(4);
    @include shift(0);
  }
  .collection .single {
    @include span-columns(4);
    @include shift(0);
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  section.section {
    @include span-columns(8);
    @include shift(2);
  }
  .divide {
    @include span-columns(2);
    @include shift(5);
  }
  .interest {
    @include span-columns(6);
  }
  .action {
    @include span-columns(4 of 8);
    @include shift(2);
  }
}

.footer {
  @include span-columns(12);
}

.psuedo-footer {
  @include span-columns(12);
}

.key {
  .markers {
    @include span-columns(1);
  }
  .route {
    @include span-columns(1);
  }
  .form {
    @include span-columns(5);
  }
  .info-wrap {
    @include span-columns(11);
    margin-left: 0;
  }
}
