/* an actual layout file this time :) */

.section,
.action,
.more {
  margin-top: $baseline;
  margin-bottom: $baseline;
}

.hero .action {
  margin-top: $baseline*2;
  margin-bottom: $baseline*2;
}

.more {
  margin-top: $baseline;
  margin-bottom: $baseline;
}

.action {
  margin-top: $baseline*4;
  margin-bottom: $baseline*2;
}

.footer {
  margin-top: $baseline*2;
  padding-top: $baseline*0.5;
  padding-bottom: $baseline*0.5;
}