<div class="container">
  <div class="inner">
    <div class="card no-click">
      <div class="inner">
        <% if @landmarks.any? %>
          <% @landmarks.each do |landmark| %>
            <p><%= link_to landmark.name, edit_admin_route_stop_landmark_path(@route, @stop, landmark) %></p>
          <% end %>
        <% else %>
          <p>This area has no landmarks yet.</p>
        <% end %>
      </div>
      <%= link_to "Add a new landmark", new_admin_route_stop_landmark_path(@route, @stop), class: "button border-bottom-radius" %>
    </div>
  </div>
</div>