---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=<JWT_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"\u003cACCESS_TOKEN\u003e","token_type":"Bearer","expires_in":3600}'
  recorded_at: Wed, 11 Oct 2017 10:17:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc?fields=*&supportsTeamDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc",
         "name": "Total Transport Stats (Test)",
         "mimeType": "application/vnd.google-apps.spreadsheet",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "spaces": [
          "drive"
         ],
         "version": "142",
         "webViewLink": "https://docs.google.com/spreadsheets/d/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/edit?usp=drivesdk",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet",
         "hasThumbnail": true,
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc&v=91&s=AMedNnoAAAAAWd4L7CxoJAdisIsn0qYh9cMUibE-YWJZ&sz=s220",
         "thumbnailVersion": "91",
         "viewedByMe": true,
         "viewedByMeTime": "2017-10-11T10:08:19.395Z",
         "createdTime": "2017-10-06T15:35:30.544Z",
         "modifiedTime": "2017-10-11T10:08:19.395Z",
         "modifiedByMeTime": "2017-10-11T10:08:19.395Z",
         "modifiedByMe": true,
         "sharedWithMeTime": "2017-10-06T15:35:30.548Z",
         "sharingUser": {
          "kind": "drive#user",
          "displayName": "Stuart Harrison",
          "me": false,
          "permissionId": "12282083598380542032",
          "emailAddress": "stuartharrison@wearefuturegov.com"
         },
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Stuart Harrison",
           "me": false,
           "permissionId": "12282083598380542032",
           "emailAddress": "stuartharrison@wearefuturegov.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "totaltransport@total-transport-metrics.iam.gserviceaccount.com",
          "me": true,
          "permissionId": "02818776547037074268",
          "emailAddress": "totaltransport@total-transport-metrics.iam.gserviceaccount.com"
         },
         "shared": true,
         "ownedByMe": false,
         "capabilities": {
          "canAddChildren": false,
          "canChangeViewersCanCopyContent": false,
          "canComment": true,
          "canCopy": true,
          "canDelete": false,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": false,
          "canMoveItemIntoTeamDrive": false,
          "canReadRevisions": true,
          "canRemoveChildren": false,
          "canRename": true,
          "canShare": true,
          "canTrash": false,
          "canUntrash": false
         },
         "viewersCanCopyContent": true,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "12282083598380542032",
           "type": "user",
           "emailAddress": "stuartharrison@wearefuturegov.com",
           "role": "owner",
           "displayName": "Stuart Harrison",
           "deleted": false
          },
          {
           "kind": "drive#permission",
           "id": "02818776547037074268",
           "type": "user",
           "emailAddress": "totaltransport@total-transport-metrics.iam.gserviceaccount.com",
           "role": "writer",
           "displayName": "totaltransport@total-transport-metrics.iam.gserviceaccount.com",
           "deleted": false
          },
          {
           "kind": "drive#permission",
           "id": "04973173615897515057k",
           "type": "domain",
           "domain": "wearefuturegov.com",
           "role": "writer",
           "allowFileDiscovery": false,
           "displayName": "FutureGov"
          }
         ],
         "permissionIds": [
          "12282083598380542032",
          "02818776547037074268",
          "04973173615897515057k"
         ],
         "quotaBytesUsed": "0",
         "isAppAuthorized": false
        }
  recorded_at: Wed, 11 Oct 2017 10:17:43 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '3.0'
      Etag:
      - W/"DEMNSH09fyt7ImA9XBZUF0w."
      Last-Modified:
      - Wed, 11 Oct 2017 10:08:19 GMT
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'
        xmlns:gd='http://schemas.google.com/g/2005' gd:etag='W/&quot;DEMNSH09fyt7ImA9XBZUF0w.&quot;'><id>https://spreadsheets.google.com/feeds/worksheets/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/private/full</id><updated>2017-10-11T10:08:19.367Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title>Total
        Transport Stats (Test)</title><link rel='alternate' type='application/atom+xml'
        href='https://docs.google.com/spreadsheets/d/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/edit'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/private/full'/><author><name>stuartharrison</name><email>stuartharrison@wearefuturegov.com</email></author><openSearch:totalResults>1</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry
        gd:etag='&quot;IRwVABZIWCt7ImA.&quot;'><id>https://spreadsheets.google.com/feeds/worksheets/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/od6</id><updated>2017-10-11T10:08:19.367Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2017-10-11T10:08:19.367Z</app:edited><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title>Sheet1</title><content
        type='application/atom+xml;type=feed' src='https[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/od6/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
  [...]
- request:
    method: put
    uri: https://spreadsheets.google.com/feeds/worksheets/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/private/full/od6
    body:
      encoding: UTF-8
      string: |2
                      <entry xmlns='http://www.w3.org/2005/Atom'
                             xmlns:gs='http://schemas.google.com/spreadsheets/2006'>
                        <title>Sheet1</title>
                        <gs:rowCount>1157</gs:rowCount>
                        <gs:colCount>26</gs:colCount>
                      </entry>
    headers:
      Gdata-Version:
      - '3.0'
      Content-Type:
      - application/atom+xml;charset=utf-8
      If-Match:
      - "*"
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=entry
      Gdata-Version:
      - '3.0'
      Etag:
      - '"IRwVABZJTCt7ImA."'
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:gs='http://schemas.google.com/spreadsheets/2006' xmlns:gd='http://schem[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/od6/private/full?max-col=3&max-row=108&min-col=1&min-row=108&return-empty=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
- request:
    method: post
    uri: https://spreadsheets.google.com/feeds/cells/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/od6/private/full/batch
    body:
      encoding: UTF-8
      string: |2
                      <feed xmlns="http://www.w3.org/2005/Atom"
                            xmlns:batch="http://schemas.google.com/gdata/batch"
                            xmlns:gs="http://schemas.google.com/spreadsheets/2006">
                        <id>https://spreadsheets.google.com/feeds/cells/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/od6/private/full</id>
                        <entry>
                          <batch:id>108,1</batch:id>
                          <batch:operation type="update"/>
                          <id>https://spreadsheets.google.com/feeds/cells/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/od6/R108C1</id>
                          <link rel="edit" type="application/atom+xml"
                            href="https://spreadsheets.google.com/feeds/cells/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/od6/private/full/R108C1"/>
                          <gs:cell row="108" col="1" inputValue="origin"/>
                        </entry>
                        <entry>
                          <batch:id>108,2</batch:id>
                          <batch:operation type="update"/>
                          <id>https://spreadsheets.google.com/feeds/cells/1sGiSS0BpNnTeNa50ztYXp90deGccMWfNUlwfAobpZBc/od6/R108C2</id>
                          <link rel="edit" type="application/atom+xml"
                            href="https://spreadsheets.google.com/feeds/cells[...]
[...]
