---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/239?CountryCode=GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.026'
      Twilio-Request-Id:
      - RQ265948277376446e9a3ffc43e232c23c
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /PhoneNumbers/239
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Tue, 20 Sep 2016 17:00:05 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/239?CountryCode=GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.038'
      Twilio-Request-Id:
      - RQff84fca1d7d84f788e8469ed584aa743
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /PhoneNumbers/239
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Tue, 20 Sep 2016 17:00:05 GMT
recorded_with: VCR 3.0.3
