---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/+447811407085?CountryCode=GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.017'
      Twilio-Request-Id:
      - RQcc4b45ba57d14b9ba6691113a7fcab8a
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "GB", "phone_number": "+447811407085",
        "national_format": "07811 407085", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+447811407085"}'
  recorded_at: Tue, 20 Sep 2016 17:00:05 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACd7dedcff81d7ada63e7751cb594be366/Messages.json
    body:
      encoding: US-ASCII
      string: From=%2B441173252034&To=%2B447811407085&Body=Your+verification+code+is+6883
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.269'
      Twilio-Request-Id:
      - RQ112a1e6c82ba43e7b9e3c343e0bf9cef
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SMf101e75df0f745399553f851dd8ca4e2", "date_created": "Tue,
        20 Sep 2016 17:00:06 +0000", "date_updated": "Tue, 20 Sep 2016 17:00:06 +0000",
        "date_sent": null, "account_sid": "ACd7dedcff81d7ada63e7751cb594be366", "to":
        "+447811407085", "from": "+441173252034", "messaging_service_sid": null, "body":
        "Your verification code is 6883", "status": "queued", "num_segments": "1",
        "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/ACd7dedcff81d7ada63e7751cb594be366/Messages/SMf101e75df0f745399553f851dd8ca4e2.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACd7dedcff81d7ada63e7751cb594be366/Messages/SMf101e75df0f745399553f851dd8ca4e2/Media.json"}}'
  recorded_at: Tue, 20 Sep 2016 17:00:06 GMT
recorded_with: VCR 3.0.3
