.journeys
  .easy-autocomplete-container
    ul
      background: $blue
      border-radius: 3px
      li
        margin-bottom: 0
        padding: 0.75em
        color: white
      &:not(:empty)
        margin-top: -0.5em
        margin-bottom: 1em
  #map
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    z-index: -1