.journeys
  .easy-autocomplete-container
    ul
      // box-shadow: 0 0 2px $blue
      background: $blue
      border-radius: 3px
      li
        margin-bottom: 0
        padding: 0.75em
        color: white
      &:not(:empty)
        margin-top: -0.5em
        margin-bottom: 1em
