@media only screen and (max-width: 667px) {
  
  #bookings-update {
      .button {
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
      }
    }

}