@media only screen and (max-width: 667px) {

  #public-index {
    .hero {
      text-align: left;
      .heading {
        margin-top: $baseline*5;
        h2 {
          $h2: 45px;
          font-size: $h2;
          line-height: calc(#{$h2} * 1.2);
        }
        .action {
          margin-top: 0;
          h4 {
            $h4: 20px;
            float: left;
            line-height: calc(#{$h4} * 1.4);
          }
        }
      }
    }
    .main {
      h3 {
        display: block;
        .hyphen {
          display: none;
        }
        span ~ span {
          display: block;
        }
      }
    }
  }

}