@media only screen and (max-width: 667px) {

  #public-index {
    .hero {
      &.enquiry {
        .event {
          background-position-x: 100%;
        }
        .section {
          margin-top: $baseline;
        }
        .book h4 {
          $h4: 40px;
          font-size: $h4;
          font-weight: 900;
          line-height: calc(#{$h4} * 1.2);
          text-align: left;
          margin-top: 0;
          margin-bottom: calc(#{$baseline*3 - $border-width} - #{$h4} * 1.2);
        }
      }
      .book {
        left: 0;
      }
    }
    #demo {
      .main .hero {
        h3 {
          $h3: 30px;
          font-size: $h3;
          font-weight: 900;
          line-height: calc(#{$h3} * 1.1);
          margin-top: 0;
          margin-bottom: calc(#{$baseline*2} - #{$h3} * 1.1);
        }
      }
      .event {
        background-position: 0 0;
      }
      .regular .event {
        background-position-x: center;
      }
    }
  }
}
