/* buspass */

#pass-container {
  #passes{
    float: left;
    width: 100%;
  }
}

.pass-type {
  float: left;
  width: 60%;
  margin-right: 2%;
  border-color: $brand;
  &[disabled] {
    border-color: $gray;
  }
}

.pass-number {
  float: left;
  width: 23%;
}

#passes .remove {
  color: $error;
  font-weight: 900;
  background: none;
  border: none;
  width: 15%;
  padding: 0;
}