.card {
  @include ease;
  @include pad(0 default);
  padding-top: $baseline;
  padding-bottom: $baseline;
  background: #ffffff;
  text-align: left;
  position: relative;
  border: $border-width-thin $black $border-style;
  // box-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
  p:last-child {
    margin-bottom: 0;
  }
  .pickUp, .dropOff {
    font-size: 14px;
    color: $medium-gray;
    margin-top: -3px;
    display: block;
  }
  .timeEst {
    font-size: 18px;
    font-weight: 600;
  }
  .date {
    text-transform: uppercase;
  }
  input[type='submit'] {
    margin-top: 0;
    margin-bottom: 0;
  }
  & + .card {
    margin-top: -1px;
  }
}

a .card {
  color: $black;
}

.card:hover, .card:active {
  // box-shadow: 0 1px 6px rgba(0, 0, 0, 1);
  border-color: $brand;
  z-index: 1000;
}