/* header */

.header {
  background-color: $brand;
  display: block;
  color: $white;
  .account, .admin {
    color: $white;
    line-height: $baseline*1.5;
  }
  .account {
    float: left;
  }
  .admin {
    float: right;
  }
}