#map .centerMarker {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 5px 10px;
  cursor: pointer;
  background-color: $blue;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin-left: -41px;
  margin-top: -45px;
  font-weight: 400;
}

#map .centerMarker:after {
  top: 100%;
  left: 50%;
  content: " ";
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: $blue;
  border-width: 10px;
  margin-left: -10px;
}

#map .centerMarker.dropoff {
  background-color: $green;
}

#map .centerMarker.dropoff:after {
  border-top-color: $green;
}

#map_wrapper {
  position: relative;
  width: 100%;
  height: $baseline*10;  
  #search_map {
    position: absolute;
    top: $baseline;
    right: $baseline;
    z-index: 1;
    width: 400px;
    background-color: #fff;
  }
}

.new_place {
  #map_wrapper {
    .easy-autocomplete {
      position: absolute;
      z-index: 9999;
      right: 10px;
      top: 10px;

      input {
        font-size: 10px;
        width: 300px;
      }
    }
  }
}