.profile {
  .profile-banner {
    text-align: center;
    margin-bottom: 15px;
    .circle {
      width: 150px;
      height: 150px;
      line-height: 173px;
      font-size: 50px;
      color: #fff;
      background-color: $prim-color;
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;
      margin-bottom: 15px;
    }
    .profile-face {
      #theFace {
        border-radius: 50%;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin-bottom: 10px;
      }
    }
    h3 {
      margin-bottom: 0;
      margin-top: 10px;
    }
    .editBtn {
      font-size: 13px;
    }
  }
  .profile_team {
    margin-top: 30px;
    li {
      list-style-type: disc;
    }
  }
}

.photo-edit {
  img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
  }
  input[type="file"] {
    margin: 0 auto;
    max-width: 225px;
    line-height: 0;
    margin-top: 10px;
    font-size: 16px;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile-label.active {
  background-color: $gray;
}