.profile {
  .profile-banner {
    .circle {
      width: $baseline*5;
      height: $baseline*5;
      line-height: $baseline*6.25;
      font-size: 50px;
      color: $gray;
      border: $border-width $gray $border-style;
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
    }
    .profile-face {
      #theFace {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin-bottom: 10px;
      }
    }
  }
}

.photo-edit {
  img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
  }
  input[type="file"] {
    margin: 0 auto;
    max-width: 225px;
    line-height: 0;
    margin-top: 10px;
    font-size: 16px;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}