/* button */

#{$all-buttons}, .button {
  line-height: $baseline*2;
  width: 100%;
  &.primary {
    line-height: $baseline*3;
    margin-top: $baseline;
    width: 100%;
  }
  &.choice + .choice {
    margin-top: 0;
  }
}

.time .button,
.dates .button {
  padding: 0;
}