@media screen and (min-width: 959px)
  .mobile_only
    display: none
  .desktop_only
    display: block

  .route 
    .acordBtn
      font-size: 17px

  .card
    .pickUp, .dropOff
      font-size: 17px
    .timeEst
      font-size: 23px
    .midArw
      font-size: 20px
