// Place all the styles related to the journeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
  background-color: $background-color

#mobile-cont
  max-width: 600px // Restictor to start work with mobile - needs deleting for desktop		
  margin-top: 85px 

header
  max-width: 600px !important // Restictor to start work with mobile - needs deleting for desktop   

  +outer-container
  text-align: center
  background-color: $prim-color
  position: absolute
  display: block
  padding: 10px
  width: 100%
  top: 0
  left: 0
  color: #fff

  .left, .right 
    +span-columns(2)
    text-align: left
  .centre
    +span-columns(8)
  .right
    +omega
    text-align: right
  #backbtn 
    background-color: transparent
    color: $dark-gray
    font-size: 14px
    padding: 5px
  a, #backbtn
    color: #fff

#mobile-cont h1 
  text-align: center
  margin-bottom: 35px
  .strong
    font-weight: 700

.card-cont 
  text-align: center

.card
  background: #ffffff
  border-radius: 2px
  display: inline-block
  height: 150px
  margin: 1rem
  position: relative
  width: 75%
  padding: 25px
  text-align: left
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)

.card:hover
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

.card:active 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

#journey-input

  input
    max-width: 275px
    display: inline-block
    margin-left: 15px

  #input-cont
    text-align: center
    label
      text-align: right

$dot-width: 35px


.stop-list:after                              // THIS NEEDS FIXING? - make more dynamic - possible not use after?
  content: ""
  position: absolute
  top: 2px
  left: 30px
  height: 98%
  background-color: $prim-color
  width: 6px
  z-index: -2

.stop-list
  position: relative

  .stop
    display: block
    margin: 15px
    margin-bottom: 25px
    height: $dot-width
    font-size: 20px
    position: relative

    .stop-dot, .stop-dot-middle
      border-radius: 50%
      transition: all 0.5s cubic-bezier(.25,.8,.25,1)

    .stop-dot
      float: left
      text-align: center
      position: relative
      width: $dot-width
      height: $dot-width
      border: $prim-color 5px solid
      background-color: $background-color
      
      .stop-dot-middle
        background-color: $prim-color
        width: 0px
        height: 0px
        position: absolute
        top: 50%
        left: 50%

    .stop-title
      float: left
      line-height: $dot-width
      margin-left: calc(#{$dot-width}/2)
      transition: all 0.3s cubic-bezier(.25,.8,.25,1)

.stop.hover, .stop.active
  cursor: pointer
  .stop-dot
    transform: scale(1.25)

    .stop-dot-middle
      width: $dot-width
      height: $dot-width
      margin-left: calc((#{$dot-width}/2)*-1)
      margin-top: calc((#{$dot-width}/2)*-1)

  .stop-title
    margin-left: calc(#{$dot-width}/1.25)
    font-weight: 600

.stop.active
  .stop-dot
    border-color: $red
  .stop-dot-middle
    background-color: $red !important
.stop.active.hover 
  .stop-dot
    transform: scale(0.95)
  .stop-title
    margin-left: calc(#{$dot-width}/1.75)

.stop-dot-line 
  background-color: $red
  position: absolute
  width: 6px
  height: 0px
  z-index: -1
  left: 15px
  transition: all 1s cubic-bezier(.25,.8,.25,1)

.stop.lastChild.lastHover
  color: $medium-gray
  .stop-dot
    transform: scale(0.88)
  .stop-title
    margin-left: calc(#{$dot-width}/2.5)

.stop.hover
  .stop-dot
    transform: scale(1.25)

.subStop
  cursor: default !important
  .stop-dot
    height: 0 !important
    border-radius: 0 !important
    top: 15px
    transition: all 0.25s cubic-bezier(.25,.8,.25,1) !important
  .stop-title
    color: $medium-gray

#confirmation
  display: none
  float: right
  text-transform: uppercase
  margin-right: $dot-width