// Place all the styles related to the landing pages here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.proposition
  text-align: center
  max-width: 600px
  h2
    text-transform: none
    letter-spacing: normal

#how-it-works
  background: white
  h2
    text-transform: none
    letter-spacing: normal
    text-align: center
    padding-top: 20px
  @media screen and (min-width: $medium-screen)
    ul
      display: flex
    .step
      flex: 1
      padding: 20px
