.edit_journey, .new_journey
  select 
    display: inline-block


/* START edit route page */
#sup_edit_route
  #sortable_stops
    //padding: 15px
    margin: 0
    overflow: visible
    button, [type='button'], [type='reset'], [type='submit']
      padding: 10px 15px
    .stop
      cursor: -webkit-grab 
      cursor: -moz-grab
      margin-bottom: 6px
      .stop_name
        font-size: 28px
      .buttons
        position: absolute
        bottom: 15px
      .edit_stop
        font-size: 18px
      .minutes-field
        width: 52px
        display: inline-block
        padding: 3px 6px
    .min_save
      padding: 6px 12px !important
      margin-top: -3px
      margin-left: 10px
    .stop:active
      cursor: -webkit-grabbing 
      cursor: -moz-grabbing
    .ui-sortable-helper
      box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15)
      cursor: move
  .map_preview 
    width: 100%
    height: 100px

/* END edit route page */

/* START edit Stop page */

#sup_edit_stop
  .half
    width: 50%
  .inner 
    max-width: 640px
    margin: 0 auto
    display: block
    float: none


#new_journey
  select
    border: 1px solid rgba($dark-gray, 0.7)
    border-radius: 2px
    background-color: #fff
    line-height: 1.5em
    padding: 5px 40px 5px 10px
    color: $dark-gray
    cursor: pointer

    margin: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    -webkit-appearance: none
    -moz-appearance: none

    background-image: linear-gradient(45deg, transparent 50%, $dark-gray 50%), linear-gradient(135deg, $dark-gray 50%, transparent 50%), linear-gradient(to right, rgba($dark-gray, 0.3), rgba($dark-gray, 0.3))
    background-position: calc(100% - 15px) calc(15px + 2px), calc(100% - 10px) calc(15px + 2px), calc(100% - 30px) 10px
    background-size: 5px 5px, 5px 5px, 1px 20px
    background-repeat: no-repeat
  select:focus
    outline: none
    border: 1px solid $prim-color

/* END edit Stop page */
