<%= text_field_tag :from, nil, placeholder: 'From', id: :from, value: from %>
<div id="from_result" class="hidden" aria-live="assertive" role="alert" hidden>
  <p>Sorry, we don't currently travel from <span id="place"></span>.</p>
  <p>We've logged your request and we're adding new routes all the time, so
    please check back!</p>
</div>
<%= text_field_tag :to, nil, placeholder: 'To', disabled: from.nil?, id: :to, value: to %>
