<% if journeys %>
  <div class="options" aria-live="assertive" role="alert">
    <% if journeys.length > 0 %>
      <% journeys.each do |journey| %>
        <%= render 'journey', journey: journey, booking: booking %>
      <% end %>
    <% else %>
      <span>No journeys available.</span>
    <% end %>
  </div>
<% end %>
