<div class='container'>
  <div class='inner'>
    <%= text_field_tag :from, nil, placeholder: 'From', id: :from, value: @from.try(:name) %>
    <div id="from_result"></div>
    <%= text_field_tag :to, nil, placeholder: 'To', disabled: @from.nil?, id: :to, value: @to.try(:name) %>
    <div id="to_result"></div>
    <a id='submit' class='button <%= @from.nil? ? 'hidden' : '' %>'>See available journeys</a>
    
    <%= render 'journeys', journeys: @journeys, booking: @booking %>
  </div>
</div>

<% content_for :js do %>

<script type='text/javascript'>
  var getPlace = (osID, type, name, successFunction, failureFunction) => {
    $.getJSON('/places/'+ osID +'.json?type='+ type +'&name=' + name, successFunction).fail(failureFunction);
  }
  
  var chosenFrom = () => {
    var chosenItem = $("#from").getSelectedItemData();
    $('#from').data('placename', chosenItem.NAME1);
    $('#from_result').empty();
    var success = (place) => {
      $('#from').data('slug', place.slug);
      $('#to').removeAttr('disabled');
      options.list.onChooseEvent = chosenTo;
      $('#to').easyAutocomplete(options);
    }
    var fail = (osID) => {
      template = HandlebarsTemplates['journeys/no_from']({
        place: $('#from').data('placename')
      });
      $('#from_result').html(template);
    }
    getPlace(chosenItem.ID, 'origin', chosenItem.NAME1, success, fail);
  }
  
  var chosenTo = () => {
    var chosenItem = $("#to").getSelectedItemData();
    $('#to').data('placename', chosenItem.NAME1);
    $('#to_result').empty();
    var success = (place) => {
      var $submit = $('#submit');
      $submit.removeClass('hidden');
      $submit.attr('href', '/journeys/' + $('#from').data('slug') + '/' + place.slug )
    }
    var fail = (osID) => {
      $.getJSON('/places.json?origin=' + $('#from').data('slug'), function(data) {
        template = HandlebarsTemplates['journeys/no_to']({
          from: $('#from').data('placename'),
          to: $('#to').data('placename'),
          from_slug: $('#from').data('slug'),
          destinations: data
        });
        $('#to_result').append(template);
      });
    }
    options.list.onChooseEvent = getPlace(chosenItem.ID, 'destination', chosenItem.NAME1, success, fail);
  }

  var options = {
    url: function(place) {
      return '/places.json?query=' + place
    },
    getValue: "NAME1",
    list: {
      onChooseEvent: chosenFrom
    },
    theme: 'square'
  };

  $('#from').easyAutocomplete(options);

</script>
<% end %>
