<div class='container'>
  <div class='inner'>
    <%= render 'form', from: @from.try(:name), to: @to.try(:name) %>
    <div id="results">
      <%= render 'journeys', journeys: @journeys, booking: @booking %>
    </div>
  </div>
</div>

<% content_for :js do %>

<script type='text/javascript'>
  var getPlace = (osID, type, name, successFunction, failureFunction) => {
    $.getJSON('/places/'+ osID +'.json?type='+ type +'&name=' + name, successFunction).fail(failureFunction);
  }
  
  var enableTo = (slug) => {
    var toOptions = options;
    $('#from').data('slug', slug);
    toOptions.list.onChooseEvent = chosenTo;
    $('#to').easyAutocomplete(toOptions);
  }
  
  var chosenFrom = () => {
    var chosenItem = $("#from").getSelectedItemData();
    $('#from').data('placename', chosenItem.NAME1);
    $('#from_result').addClass('hidden');
    $('#from_result').attr('hidden', true);
    var success = (place) => {
      enableTo(place.slug);
      $('#to').removeAttr('disabled');
      history.pushState(null, null, '/journeys/' + place.slug);
    }
    var fail = (osID) => {
      var placename = $('#from').data('placename');
      $('#from_result #place').html(placename);
      $('#from_result').removeClass('hidden');
      $('#from_result').attr('hidden', false);
    }
    getPlace(chosenItem.ID, 'origin', chosenItem.NAME1, success, fail);
  }
  
  var chosenTo = () => {
    var chosenItem = $("#to").getSelectedItemData();
    $('#to').data('placename', chosenItem.NAME1);
    $('#to_result').empty();
    
    var fail = (osID) => {
      var url = '/journeys/suggested/' + $('#from').data('slug') + '?placename=' + $('#to').data('placename')
      history.pushState(null, null, url);
      $.get({
        url: url,
        dataType: 'script'
      });
    }
    
    var success = (place) => {
      var url = '/journeys/' + $('#from').data('slug') + '/' + place.slug;
      history.pushState(null, null, url);
      $.get({
        url: url,
        dataType: 'script'
      });
    }
    
    options.list.onChooseEvent = getPlace(chosenItem.ID, 'destination', chosenItem.NAME1, success, fail);
  }

  var options = {
    url: function(place) {
      return '/places.json?query=' + place
    },
    getValue: "NAME1",
    list: {
      onChooseEvent: chosenFrom
    },
    theme: 'square'
  };
  
  window.onpopstate = function() {
    if (document.location.pathname == '/journeys') {
      $('#from').val('');
      $('#to').val('');
      $('#results').html('');
    } else if (document.location.pathname.match(/journeys\/[a-z\-]+$/)) {
      $('#to').val('');
      $('#results').html('');
    }
  }

  $('#from').easyAutocomplete(options);

  <% if @from %>
    enableTo('<%= @from.try(:slug) %>');
    $('#from').data('placename', '<%= @from.try(:name) %>');
  <% end %>
  
</script>
<% end %>
