<%= render partial: "layouts/mobile_header" %>

<h1>Choose time</h1>

<div class="card-cont">
  <%= link_to select_pick_up_journeys_path do %>
    <div class="card">
      <p>1pm - 2pm</p>
    </div>
  <% end %>

  <%= link_to select_pick_up_journeys_path do %>
    <div class="card">
      <p>5pm - 6pm</p>
    </div>
  <% end %>
</div>

<%= render partial: "layouts/mobile_footer" %>