<%= render partial: "layouts/mobile_header" %>

<h1>Choose drop off location</h1>

<script type="text/javascript">
  function initMap() {
    draggableMap(burnham_on_crouch_center, burnham_on_crouch_boundary)
  }
</script>
<div id="map" style="width:100%;height:250px"></div>

<%= link_to "next", confirm_booking_journeys_path %>

<%= render partial: "layouts/mobile_footer" %>
