<%= render partial: "layouts/mobile_header" %>

<h1>Choose pick up location</h1>
<script type="text/javascript">
  function initMap() {
    draggableMap(dengie_center, dengie_boundary)
  }
</script>
<div id="map"></div>


<div id="confirmation">
  <%= link_to select_drop_off_journeys_path do %>
  <button>Confirm <i class="arw fa fa-chevron-right"></i></button>
  <% end %>
</div>

<%= render partial: "layouts/mobile_footer" %>
