<%= render partial: "layouts/mobile_header" %>

<h1>Choose drop off location</h1>
<div class="card-cont">
  <script type="text/javascript">
    function initMap() {
      draggableMap(burnham_on_crouch_center, burnham_on_crouch_boundary)
    }
  </script>
  <div id="map" class="card" style="margin-bottom:0"></div>

  <div id="confirmation" class="card">
    <%= link_to confirm_booking_journeys_path do %>
      <div class="cardBtn">
        <span>Confirm Route</span>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: "layouts/mobile_footer" %>
