<%= render partial: "layouts/mobile_header" %>

<h1>Select Pick Up Location</h1>

<div class="stop-list">
  <div class="stop" data-stopnum="1">
    <div class="stop-dot">
      <div class="stop-dot-middle"></div>
    </div>
    <div class="stop-dot-line"></div>
    <div class="stop-title">Place</div>
  </div>
  <div class="stop" data-stopnum="2">
    <div class="stop-dot">
      <div class="stop-dot-middle"></div>
    </div>
    <div class="stop-dot-line"></div>
    <div class="stop-title">Place</div>
  </div>
  <div class="stop" data-stopnum="3">
    <div class="stop-dot">
      <div class="stop-dot-middle"></div>
    </div>
    <div class="stop-dot-line"></div>
    <div class="stop-title">Place</div>
  </div>
  <div class="stop" data-stopnum="4">
    <div class="stop-dot">
      <div class="stop-dot-middle"></div>
    </div>
    <div class="stop-dot-line"></div>
    <div class="stop-title">Place</div>
  </div>
  <div class="stop" data-stopnum="5">
    <div class="stop-dot">
      <div class="stop-dot-middle"></div>
    </div>
    <div class="stop-dot-line"></div>
    <div class="stop-title">Place</div>
  </div>
</div>

<p>
<%= link_to "next", select_time_journeys_path %>
</p>
<%= render partial: "layouts/mobile_footer" %>