<header>
  <div class="left">
    <form><input id="backbtn" Type="button" VALUE="< Back" onClick="history.go(-1);return true;"></form>
  </div>
  <div class="centre">
    Essex Better Bus
  </div>
  <div class="right">
    &nbsp;
  </div>
</header>
<div id="mobile-cont">