<div id="suppliers-cont">
  <header>
    <div class="inner">
      <div class="left">
        &nbsp;<!--<form><input id="backbtn" Type="button" VALUE="< Back" onClick="history.go(-1);return true;"></form>-->
      </div>
      <div class="centre">
        Essex Better Bus - Suppliers Admin
      </div>
      <div class="right">
        &nbsp;
      </div>
    </div>
  </header>